<h1 class="componente-titulo">
  Registrar empleado
</h1>
<mat-card class="card-body-componente">
  <meta charset="utf-8" />

  <form #form="ngForm">
    <mat-expansion-panel
      [class.mat-expansion-panel-mobile]="mobileQuery.matches"
      [expanded]="true"
    >
      <mat-expansion-panel-header>
        <b>Datos del empleado</b>
      </mat-expansion-panel-header>
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <input
          name="apellido"
          minlength="2"
          maxlength="40"
          ngModel
          #apellido="ngModel"
          matInput
          placeholder="Ingrese apellido/s"
          type="text"
          required
          (keypress)="checkLetras($event)"
        />
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <input
          name="nombre"
          minlength="2"
          maxlength="40"
          ngModel
          #nombre="ngModel"
          matInput
          placeholder="Ingrese nombre/s"
          type="text"
          required
          (keypress)="checkLetras($event)"
        />
      </mat-form-field>
      <br />

      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <mat-select
          placeholder="Seleccione tipo de documento"
          name="tipoDocumento"
          ngModel
          #tipoDocumento="ngModel"
          matNativeControl
          required
        >
          <mat-option value="DNI">DNI</mat-option>
          <mat-option value="Cedula de Identidad"
            >Cédula de Identidad</mat-option
          >
          <mat-option value="Libreta de Enrolamiento"
            >Libreta de Enrolamiento</mat-option
          >
          <mat-option value="Libreta Civica">Libreta Cívica</mat-option>
          <mat-option value="Pasaporte">Pasaporte</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <input
          name="nroDocumento"
          maxlength="8"
          ngModel
          #nroDocumento="ngModel"
          matInput
          placeholder="Ingrese el número de documento"
          required
          (keypress)="checkNumeros($event)"
        />
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <mat-select
          placeholder="Seleccione sexo"
          name="sexo"
          ngModel
          #sexo="ngModel"
          matNativeControl
          required
        >
          <mat-option value="femenino">Femenino</mat-option>
          <mat-option value="masculino">Masculino</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <input
          matInput
          name="fechaNac"
          ngModel
          #fechaNac="ngModel"
          [max]="maxDate"
          [matDatepicker]="picker"
          placeholder="Seleccione fecha de nacimiento"
          (click)="picker.open()"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #picker
          startView="multi-year"
          disabled="false"
        ></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <mat-select
          placeholder="Seleccione nacionalidad"
          name="nacionalidad"
          ngModel
          #nacionalidad="ngModel"
          matNativeControl
          [(ngModel)]="nacionalidadEmpleado"
        >
          <mat-option
            *ngFor="let nacionalidad of nacionalidades"
            [value]="nacionalidad.name"
          >
            {{ nacionalidad.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <input
          matInput
          name="telefono"
          maxlength="20"
          ngModel
          #telefono="ngModel"
          placeholder="Ingrese número de teléfono"
          (keypress)="checkNumeros($event)"
        />
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <input
          matInput
          name="email"
          ngModel
          #email="ngModel"
          placeholder="Ingrese email"
          type="email"
          required
          email
        />
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <mat-select
          placeholder="Seleccione tipo de empleado"
          name="tipoEmpleado"
          ngModel
          #tipoEmpleado="ngModel"
          matNativeControl
          required
        >
          <mat-option value="Director">Director</mat-option>
          <mat-option value="Preceptor">Preceptor</mat-option>
          <mat-option value="Docente">Docente</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <br />
    <div class="div-button">
      <button
        (click)="onGuardar(form)"
        class="button-primary"
        mat-raised-button
      >
        Guardar
      </button>
      <button mat-raised-button (click)="popUpCancelar()" class="button-warn">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
