<h1 class="componente-titulo">
  Modificar evento
</h1>

<mat-card class="card-body-componente">
  <form #form="ngForm">
    <mat-form-field>
      <input
        [(ngModel)]="evento.titulo"
        name="titulo"
        ngModel
        #titulo="ngModel"
        matInput
        placeholder="Ingrese título"
        type="text"
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea
        [(ngModel)]="evento.descripcion"
        matInput
        name="descripcion"
        ngModel
        #descripcion="ngModel"
        rows="3"
        placeholder="Ingrese descripción"
        type="text"
      >
      </textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        [(ngModel)]="evento.fechaEvento"
        matInput
        name="fechaEvento"
        ngModel
        #fechaEvento="ngModel"
        [min]="fechaActual"
        [matDatepicker]="picker"
        placeholder="Seleccione fecha de evento"
        (click)="picker.open()"
        required
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <mat-form-field class="matFormHora">
        <div class="hora">
          <input
            [(ngModel)]="evento.horaInicio"
            matInput
            name="horaInicio"
            ngModel
            #horaInicio="ngModel"
            placeholder="Hora inicio *"
            id="pickerInicio"
            readonly
          />
        </div>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="matFormHora">
        <div class="hora">
          <input
            [(ngModel)]="evento.horaFin"
            matInput
            name="horaFin"
            ngModel
            #horaFin="ngModel"
            placeholder="Hora fin *"
            id="pickerFin"
            readonly
          />
        </div>
      </mat-form-field>
    </div>

    <mat-form-field class="tag-list">
      <mat-chip-list #tagList aria-label="Seleccion de tags">
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Seleccione los cursos *"
          name="tagsInput"
          #tagsInput
          [formControl]="tagsCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="tagList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          required
        />
      </mat-chip-list>
      <mat-autocomplete
        required
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <img id="imagen" [src]="imgURL" class="image-preview" *ngIf="imgURL" />
      <button
        mat-stroked-button
        class="boton-seleccionar"
        type="button"
        (click)="file.click()"
      >
        Seleccionar imagen *
      </button>
      <br />
      <span class="mensaje" *ngIf="message">{{ message }}</span>
      <br />
      <input
        #file
        type="file"
        accept="image/*"
        (change)="preview(file.files)"
      />
    </div>
    <div class="div-button">
      <button
        class="buttonPrimary"
        (click)="onGuardarEvento(form)"
        mat-raised-button
      >
        Guardar
      </button>
      <button mat-raised-button (click)="popUpCancelar()" class="buttonWarn">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
