<h3 mat-dialog-title class="titulo-popup">¡Atención!</h3>
<div mat-dialog-content>
  <p class="parrafo">{{data.mensaje}}</p>
  <div class="center" *ngIf="!esInicioCursado">
    <button mat-button (click)="mostrarMaterias()">
      <u *ngIf="!mostrarMateria">Ver materias</u>
      <u *ngIf="mostrarMateria"> Ocultar materias</u>
    </button>

    <textarea
      disabled
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      *ngIf="mostrarMateria"
      class="parrafo"
    >
{{data.materia}} </textarea
    >
  </div>
</div>
<div mat-dialog-actions class="button-popup">
  <button mat-raised-button class="button-primary" (click)="onOkClick()">
    Ok
  </button>
</div>
