.mat-form-field {
  width: 58.5%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.mat-form-field, .mat-radio-button{
  margin-left: 20%;
}

button {
  margin: 0.4rem;
}

.div-button {
  text-align: right;
}
