

.mat-form-field {
  width: 35%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.mat-h1{
  color: #C2185B;
}

button{
  margin: 0.4rem;
}

.mat-card {
  margin: 1rem;
  padding-left: 30%;
  }



