.mat-form-field {
  width: 78.5%;
  /* Considerar a cambiarlo de 58.5 a 78.5 */
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}
.mat-radio-button  {
  margin-bottom: 20px;
}

form{
  text-align: center;
}

.div-button {
  text-align: right;
}

.parrafo{
  text-align: center;
}

.card-body-componente{
  display: flex;
  flex-direction: column;
}

.label-radio-button{
  white-space: normal !important;
}

/* sacar white-space no wrap, por normal mobile
  font-size: x-small;
  Para side nav width: min-content;
  */
