
<div class="grid-layout">
  <mat-card>
    <mat-icon class="iconEstudiante">account_circle</mat-icon>
    <p class="nombre-estudiante">Nombre Apellido</p>
    <div class="curso">
      <mat-chip-list>
        <mat-chip>Curso</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>
  <mat-card>
    <mat-icon class="iconEstudiante">account_circle</mat-icon>
    <p class="nombre-estudiante">Nombre Apellido</p>
    <div class="curso">
      <mat-chip-list>
        <mat-chip>Curso</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>
  <mat-card>
    <mat-icon class="iconEstudiante">account_circle</mat-icon>
    <p class="nombre-estudiante">Nombre Apellido</p>
    <div class="curso">
      <mat-chip-list>
        <mat-chip>Curso</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>
  <mat-card>
    <div class="fechaEvento">
      <time datetime="'2020-05-25T03:00:00.000Z'" class="icon">
        <strong>Marzo</strong>
        <span> 22 </span>
      </time>
    </div>
    <p class="titulo-evento">Titulo Evento</p>
  </mat-card>
</div>
