<h1 class="componente-titulo">
  Inasistencias de {{ apellidoEstudiante }}, {{ nombreEstudiante }}
</h1>
<mat-card class="card-body-componente">
  <div
    *ngIf="
      (contadorInasistenciaJustificada != 0 ||
        contadorInasistenciaInjustificada != 0) &&
      contadorInasistenciaInjustificada != undefined
    "
    style="display: block"
  >
    <canvas
      baseChart
      [datasets]="barDataSet"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    ></canvas>
    <p
      class="aviso"
      *ngIf="
        contadorInasistenciaInjustificada < this.cantidadFaltasParaSuspension
      "
    >
      <b
        >Le quedan
        {{
          this.cantidadFaltasParaSuspension - contadorInasistenciaInjustificada
        }}
        inasistencias injustificadas para la reincorporación
      </b>
    </p>
    <p
      class="aviso"
      *ngIf="
        contadorInasistenciaInjustificada >= this.cantidadFaltasParaSuspension
      "
    >
      <b
        >El estudiante alcanzó el límite de inasistencias, necesita ser
        reincorporado.
      </b>
    </p>
  </div>
  <p
    class="aviso"
    *ngIf="
      contadorInasistenciaInjustificada == 0 &&
      contadorInasistenciaJustificada == 0
    "
  >
    <b> El estudiante no presenta ninguna inasistencia </b>
  </p>
  <div class="div-button">
    <button
      mat-raised-button
      [routerLink]="['/perfilEstudiante']"
      class="button-warn"
    >
      Volver
    </button>
  </div>
</mat-card>
