.mat-card-title {
  text-align:center;
  font-size:35px;

}

.mat-card-subtitle{
  text-align:center;
}

button:hover {
  background-color: #ffadbd;
}

.parrafo{
  text-align: center;
  white-space: normal !important;
  font-size:17px;
}
