<h1 class="componente-titulo">
  Instituto Cristo Rey
</h1>
<ng-container *ngIf="eventos.length != 0 && !isLoading">
  <mat-card
    class="card-body-componente"
    *ngFor="let evento of eventos; let j = index"
    (click)="eventoSeleccionado(evento)"
  >
    <mat-card-title>
      <div class="titulo">
        <button (click)="eventoSeleccionado(evento)" class="titulo">
          {{ evento.titulo }}
        </button>
      </div>
      <div *ngIf="mostrarTooltip" class="tooltip-lie">
        Hacé click para ver mas detalles!
      </div>
      <div>
        <time datetime="evento.fechaEvento" class="icon fecha-evento">
          <strong>{{ obtenerMes(evento.fechaEvento) }}</strong>
          <span>{{ obtenerDia(evento.fechaEvento) }}</span>
        </time>
      </div>
    </mat-card-title>
    <mat-card-subtitle
      >{{ evento.horaInicio }} - {{ evento.horaFin }}</mat-card-subtitle
    >

    <div class="container-img">
      <img
        [src]="getImage(evento.filenames[0])"
        *ngIf="evento.filenames.length > 0"
        style="width: 100%;"
      />
      <button
        type="button"
        mat-icon-button
        class="boton-editar"
        *ngIf="
          conocerUsuarioLogueado(j) &&
          evento.filenames.length != 0 &&
          !eventoYaOcurrio(j)
        "
        matTooltip="Editar evento"
      >
        <mat-icon (click)="onEditar(evento)">mode_edit </mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        class="boton-borrar"
        *ngIf="conocerUsuarioLogueado(j) && evento.filenames.length != 0"
        matTooltip="Eliminar evento"
      >
        <mat-icon (click)="onBorrar(evento)">delete </mat-icon>
      </button>
    </div>
    <mat-chip-list>
      <p class="texto-participan">Participan:</p>
      <mat-chip *ngFor="let tag of evento.tags">
        {{ tag }}
      </mat-chip>
    </mat-chip-list>
    <mat-card-content>
      <p class="descripcion">
        {{ evento.descripcion }}
      </p>
    </mat-card-content>
    <div
      class="boton-visualizar"
      [ngClass]="{ visualizar: evento.filenames.length == 0 && conocerUsuarioLogueado(j) }"
    >
      <button class="boton-comentario" (click)="eventoSeleccionado(evento)">
        Ver comentarios
      </button>
      <div class="botones">
        <button
          type="button"
          mat-icon-button
          class="botonEditar"
          *ngIf="conocerUsuarioLogueado(j) && evento.filenames.length == 0"
        >
          <mat-icon (click)="onEditar(evento)">mode_edit </mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button
          class="botonBorrar"
          *ngIf="conocerUsuarioLogueado(j) && evento.filenames.length == 0"
        >
          <mat-icon (click)="onBorrar(evento)">delete </mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card
    class="card-body-componente"
    *ngIf="eventos.length == 0 && isLoading"
  >
    <h1 class="titulo-aviso">
      No existen eventos publicados por la institución
    </h1>
  </mat-card>
</ng-container>

<mat-card class="card-spinner" *ngIf="isLoading">
  <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
</mat-card>
