<h1 class="componente-titulo">
  Registrar calificaciones
</h1>

<mat-card class="card-body-componente">
  <br>
<div align="center">
    <mat-form-field>
        <mat-select
        placeholder="Seleccione trimestre"
        name="materia"
        >
        </mat-select>
    </mat-form-field>

&nbsp; &nbsp;

    <mat-form-field>
        <mat-select
        placeholder="Seleccione curso"
        name="curso"
        >
        </mat-select>
    </mat-form-field>

&nbsp; &nbsp;
<mat-form-field>
    <mat-select
    placeholder="Seleccione materia"
    name="materia"
    >
    </mat-select>
</mat-form-field>

</div>
</mat-card>


