table {
  width: 95%;
  margin: 2rem;
}

.columnasNormales{
  width:22%;
}

.columnasChicas{
  width:12%;
}

th{
  font-weight: bold;
  font-size: 15px;
}

.div-button {
  text-align: right;
}

.div-selects{
  text-align: center;
}

.mat-form-field{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
