<h3 mat-dialog-title class="titulo-popup">Clonar</h3>
<div mat-dialog-content>
  <p class="parrafo">
    ¿Está seguro que desea cargar la agenda del año anterior? Considere que se
    reemplazará la agenda actual.
  </p>
</div>
<div mat-dialog-actions class="button-popup">
  <button
    mat-raised-button
    class="button-primary"
    (click)="onYesClick()"
    cdkFocusInitial
  >
    Sí
  </button>
  <button mat-raised-button class="button-warn" (click)="onNoClick()">
    No
  </button>
</div>
