<h1 class="componente-titulo">
  Definir agenda de curso
</h1>
<mat-card class="card-body-componente">
  <form #form="ngForm">
    <mat-form-field>
      <mat-select
        placeholder="Seleccione curso"
        name="curso"
        ngModel
        #curso="ngModel"
        matNativeControl
        required
        class="curso"
        (selectionChange)="obtenerAgenda(curso)"
      >
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{ curso.curso }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="contenedor-tabla">
      <table
        #tabla
        mat-table
        matSort
        [dataSource]="dataSource"
        [hidden]="!cursoSelected"
        [class.table-mobile]="mobileQuery.matches"
      >
        <ng-container matColumnDef="Materia">
          <th
            class="columnas-normales"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Materia
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let agendaCurso; let i = index"
          >
            <mat-form-field class="mat-form-materia">
              <mat-select
                name="materia{{ i }}"
                id="materia{{ i }}"
                ngModel
                #materia+i="ngModel"
                [disabled]="nuevo != i || indice != i"
                [(ngModel)]="agendaCurso.idMateria"
                matNativeControl
                required
              >
                <mat-option
                  *ngFor="let materia of materias"
                  [value]="materia._id"
                >
                  {{ materia.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Docente">
          <th
            class="columnas-normales"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Docente
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let agendaCurso; let i = index"
          >
            <mat-form-field class="mat-form-docente">
              <mat-select
                name="docente{{ i }}"
                ngModel
                #docente+i="ngModel"
                [disabled]="nuevo != i || indice != i"
                [(ngModel)]="agendaCurso.idDocente"
                matNativeControl
                required
              >
                <mat-option
                  *ngFor="let docente of docentes"
                  [value]="docente._id"
                >
                  {{ docente.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Dia">
          <th
            class="columnas-normales"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Día
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let agendaCurso; let i = index"
          >
            <mat-form-field class="mat-form-dia">
              <mat-select
                name="dia{{ i }}"
                ngModel
                #dia+i="ngModel"
                [disabled]="indice != i"
                [(ngModel)]="agendaCurso.dia"
                matNativeControl
                required
              >
                <mat-option *ngFor="let dia of dias" [value]="dia">
                  {{ dia }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="HoraInicio">
          <th
            class="columnas-normales"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Inicio
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let agendaCurso; let i = index"
          >
            <mat-form-field class="mat-form-hora">
              <div class="hora">
                <input
                  [name]="'horaInicio' + i"
                  ngModel
                  #horaInicio+i="ngModel"
                  matInput
                  [ngxTimepicker]="picker1"
                  [format]="24"
                  [disabled]="indice != i"
                  [(ngModel)]="agendaCurso.inicio"
                  min="07:30"
                  max="13:30"
                  readonly
                  required
                />
                <ngx-material-timepicker
                  [minutesGap]="15"
                  #picker1
                ></ngx-material-timepicker>
              </div>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="HoraFin">
          <th
            class="columnas-normales"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Fin
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let agendaCurso; let i = index"
          >
            <mat-form-field class="mat-form-hora">
              <div class="hora">
                <input
                  [name]="'horaFin' + i"
                  ngModel
                  #horaInicio+i="ngModel"
                  matInput
                  [ngxTimepicker]="picker1"
                  [format]="24"
                  [disabled]="indice != i"
                  [(ngModel)]="agendaCurso.fin"
                  min="08:15"
                  max="13:30"
                  readonly
                  required
                />
                <ngx-material-timepicker
                  [minutesGap]="15"
                  #picker1
                ></ngx-material-timepicker>
              </div>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Accion">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Acción
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let row; let i = index"
          >
            <p class="botones-accion">
              <button
                id="editar{{ i }}"
                [disabled]="indice == i"
                mat-icon-button
                (click)="editarAgenda(i)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                id="reservar{{ i }}"
                style="display: none"
                [disabled]="indice != i"
                mat-icon-button
                (click)="reservarAgenda(i, row)"
              >
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button (click)="popupEliminar(i)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </p>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </form>
  <div class="div-agregar" [class.div-agregar-mobile]="mobileQuery.matches">
    <button
      mat-raised-button
      class="button-agregar"
      (click)="onAgregar()"
      *ngIf="cursoSelected"
    >
      <mat-icon>add_circle_outline</mat-icon>
      Agregar horario
    </button>
  </div>
  <div class="div-guardar">
    <button
      mat-raised-button
      class="button-primary"
      (click)="onGuardar(form)"
      *ngIf="cursoSelected"
    >
      Guardar
    </button>
    <button mat-raised-button (click)="popUpCancelar()" class="button-warn">
      Cancelar
    </button>
  </div>
</mat-card>
