table {
  width: 95%;
  margin: 2rem;
  margin-top: 0px;
}

.table-mobile {
  width: 100%;
  margin: 0;
}

.columnas-normales {
  width: 21% !important;
}

th {
  font-weight: bold;
  font-size: 15px;
}

th,
td {
  text-align: center !important;
}

.botones-accion {
  display: flex;
}

button {
  margin: 0px !important;
}

.mat-form-field {
  margin-left: 15px !important;
}

.mat-form-hora {
  width: 45px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mat-form-dia,
.mat-form-materia {
  width: 100px !important;
}

.mat-form-docente {
  width: 130px !important;
}

.div-guardar {
  text-align: right;
}

.button-primary {
  margin-right: 13px !important;
}

.button-agregar {
  background: gainsboro;
}

.div-agregar,
.parrafo {
  text-align: center;
}

.div-agregar-mobile{
  margin-bottom: 3%;
  margin-top: 3%;
}

th.mat-sort-header-sorted {
  color: black;
}

.contenedor-tabla {
  overflow: auto;
}

.th.mat-header-cell:first-of-type,  th.mat-header-cell:first-of-type,
.td.mat-cell:first-of-type,  td.mat-cell:first-of-type  {
  padding-left: 0;
}
