<div *ngIf="tipoPopup === 'guardar'" class="cancelar">
  <h3 mat-dialog-title class="tituloPopup">Guardar</h3>
  <div mat-dialog-content>
    <p class="parrafo">Asistencia registrada exitosamente</p>
  </div>
  <div mat-dialog-actions class="buttonPopup">
    <button mat-raised-button class="button-primary" (click)="onOkClick()"> Ok </button>
  </div>
</div>
<div *ngIf="tipoPopup === 'cancelar'" class="cancelar">
  <h3 mat-dialog-title class="tituloPopup">Cancelar</h3>
  <div mat-dialog-content>
    <p class="parrafo">¿Está seguro que desea cancelar?</p>
  </div>
  <div mat-dialog-actions class="buttonPopup">
    <button mat-raised-button class="button-primary" (click)="onYesClick()" cdkFocusInitial>
      Sí
    </button>
    <button mat-raised-button class="button-warn" (click)="onNoClick()">No</button>
  </div>
</div>
