.curso {
  margin-left: 1rem;
}

.ubicacionfecha {
  margin-top: 0.5rem;
  float: right;
}

.inputFecha{
  width: 0%;
  color: black !important;
}

table {
  width: 100%;
  margin: 0 auto;
}

.nombreApellido {
  width: 40%;
}

.presentismo {
  width: 20%;
}

.div-button {
  text-align: right;
}

th{
  font-weight: bold;
  font-size: 15px;
}

.parrafo{
  text-align: center;
}

.aviso{
  margin-bottom: 0;
  text-align: center;
  font-size: 19px;
}
