<h1 class="componente-titulo">
  Tomar asistencia ciclo lectivo 2019
</h1>
<mat-card class="card-body-componente">
  <mat-form-field class="curso">
    <mat-select
      placeholder="Seleccione curso"
      name="curso"
      ngModel
      #curso="ngModel"
      [disabled]="fueraPeriodoCicloLectivo"
      matNativeControl
      required
      (selectionChange)="onCursoSeleccionado(curso)"
    >
      <mat-option *ngFor="let objCurso of cursos" [value]="objCurso.curso">
        {{ objCurso.curso }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="ubicacionfecha">
    <b>Fecha: </b> &nbsp;
    <mat-form-field>
      <input
        [disabled]="true"
        ngModel
        #diaFecha="ngModel"
        matInput
        name="diaFecha"
        [(ngModel)]="diaActual"
        required
        class="inputFecha"
      />
      {{ fechaActual | date: "EEEE" | titlecase }}
      {{ fechaActual | date: "dd/MM/yyyy" }}
    </mat-form-field>
  </div>
  <p class="aviso" *ngIf="asistenciaNueva!='true'">Atención, ya existe una asistencia registrada para este curso el día de hoy</p>
  <p class="aviso" *ngIf="fueraPeriodoCicloLectivo==true">Atención, no se puede tomar asistencia debido a que estamos fuera del ciclo lectivo </p>
  <br />
  <div *ngIf="!cursoNotSelected">
    <table mat-table [dataSource]="estudiantesXDivision">
      <ng-container matColumnDef="apellido">
        <th class="nombreApellido" mat-header-cell *matHeaderCellDef>
          Apellido/s
        </th>
        <td
          class="nombreApellido"
          mat-cell
          *matCellDef="let estudiantesXDivision"
        >
          {{ estudiantesXDivision.apellido }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th class="nombreApellido" mat-header-cell *matHeaderCellDef>
          Nombre/s
        </th>
        <td
          class="nombreApellido"
          mat-cell
          *matCellDef="let estudiantesXDivision"
        >
          {{ estudiantesXDivision.nombre }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th class="presentismo" mat-header-cell *matHeaderCellDef>
          Presentismo
        </th>
        <td class="presentismo" mat-cell *matCellDef="let row">
          <mat-slide-toggle
            [checked]="row.presente"
            (change)="onCambioPresentismo(row)"
          >
            <p *ngIf="row.presente">Presente</p>
            <p *ngIf="!row.presente">Ausente</p></mat-slide-toggle
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <p class="aviso" *ngIf="estudiantesXDivision.length==0 && !cursoNotSelected">No exiten alumnos inscriptos a este curso</p>
  </div>
  <br />
  <div class="div-button">
    <button
      class="buttonPrimary"
      (click)="onGuardar()"
      mat-raised-button
      [disabled]="cursoNotSelected"
    >
      Guardar
    </button>
    <button mat-raised-button class="buttonWarn" (click)="onCancelar()">
      Cancelar
    </button>
  </div>
</mat-card>
