.div-curso-fecha{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.curso {
  margin-left: 1rem;
  width: fit-content;
}

.ubicacion-fecha {
  text-align: end;
}

.mat-form-field-infix {
  width: 150px;
}

.mat-form-fecha {
  text-align: center !important;
}

.input-fecha {
  width: 0%;
  color: black !important;
}

table {
  width: 100%;
  margin: 0 auto;
}

.nombre-apellido {
  width: 40%;
  font-size: 16px;
}

.presentismo {
  width: 20%;
}

.div-button {
  text-align: right;
}

th {
  font-weight: bold;
  font-size: 15px;
}

.parrafo {
  text-align: center;
}

.aviso {
  margin-bottom: 0;
  text-align: center;
  font-size: 19px;
}

