.mat-card {
  margin: 1rem;
}

.curso {
  width: 20%;
  margin-left: 3rem;
}

table {
  width: 100%;
  margin: 0 auto;
}

.fecha {
  width: 15%;
  padding-left: 45%;
}

.nombreApellido {
  width: 40%;
}

.presentismo {
  width: 20%;
}

button {
  margin: 0.4rem;
}

.parrafo {
  text-align: center;
}
