<mat-select
  placeholder="Seleccione curso"
  name="curso"
  ngModel
  #curso="ngModel"
  required
  (selectionChange)="buscarEstudiantesPorDivision(curso)"
>
  <mat-option value="5A">5A</mat-option>
  <mat-option value="4A">4A</mat-option>
  <mat-option value="3A">3A</mat-option>
  <mat-option value="2A">2A</mat-option>
</mat-select>
<table mat-table [dataSource]="estudiantesXDivision" class="mat-elevation-z8">
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido/s</th>
    <td mat-cell *matCellDef="let estudiantesXDivision">
      {{ estudiantesXDivision.IdEstudiante.apellido }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre/s</th>
    <td mat-cell *matCellDef="let estudiantesXDivision">
      {{ estudiantesXDivision.IdEstudiante.nombre }}
    </td>
  </ng-container>

  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef>Presentismo</th>
    <td mat-cell *matCellDef="let row">
      <mat-slide-toggle (change)="onCambioPresentismo(row)">Presente caca!</mat-slide-toggle>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button color="primary" mat-raised-button>Finalizar</button>
