<h1 class="componente-titulo">
  Definir agenda de curso
</h1>

<mat-card class="card-body-componente">
  <form #form="ngForm">
    <mat-form-field>
      <mat-select
        placeholder="Seleccione curso"
        name="curso"
        ngModel
        #curso="ngModel"
        matNativeControl
        required
      >
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{ curso.curso }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card
      *ngFor="let materia of materiasHTML; let j = index"
      class="card-body-componente"
    >
      <div>
        <h3>Materia seleccionada</h3>
        <mat-form-field>
          <mat-select
            placeholder="Seleccione materia"
            [name]="'materia' + j"
            ngModel
            #materia="ngModel"
            matNativeControl
            required
          >
            <mat-option *ngFor="let materia of materias" [value]="materia._id">
              {{ materia.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Seleccione docente"
            [name]="'docente' + j"
            ngModel
            #docente="ngModel"
            matNativeControl
            required
          >
            <mat-option *ngFor="let docente of docentes" [value]="docente._id">
              {{ docente.apellido }}, {{ docente.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br />
      <hr />
      <br />
      <div
        class="horario"
        *ngFor="let horario of materiasHTML[j]; let i = index"
      >
        <mat-form-field>
          <mat-select
            placeholder="Seleccione dia"
            [name]="'dia' + j + i"
            ngModel
            #dia="ngModel"
            matNativeControl
            required
          >
            <mat-option *ngFor="let objDia of dias" [value]="objDia">
              {{ objDia }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              placeholder="Seleccione la hora de inicio"
              [name]="'horaInicio' + j + i"
              ngModel
              #horaInicio+j+i="ngModel"
              matInput
              [ngxTimepicker]="picker1"
              [format]="24"
              min="07:30"
              max="13:30"
              readonly
            />
            <ngx-material-timepicker
              [minutesGap]="15"
              #picker1
              (timeSet)="reservarHorario(form,$event,'horaFin'+j+i,'dia'+j+i)"
            ></ngx-material-timepicker>
          </div>
        </mat-form-field>
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              placeholder="Seleccione la hora de fin"
              [name]="'horaFin' + j + i"
              ngModel
              #horaFin+j+i="ngModel"
              matInput
              [ngxTimepicker]="picker2"
              [format]="24"
              min="08:15"
              max="14:15"
              readonly
            />
            <ngx-material-timepicker
              [minutesGap]="15"
              #picker2
              (timeSet)="reservarHorario(form,'horaInicio'+j+i,$event,'dia'+j+i)"
            ></ngx-material-timepicker>
          </div>
        </mat-form-field>
      </div>
      <div class="divAgregar">
        <button
          mat-raised-button
          class="agregarHorario"
          (click)="agregarHorario(j, form)"
        >
          <mat-icon>add_circle_outline</mat-icon> Agregar otra horario
        </button>
      </div>
      <br />
    </mat-card>
  </form>
  <div class="divAgregar">
    <button
      mat-raised-button
      class="agregarHorario"
      (click)="agregarMateria(materiasHTML.length)"
    >
      <mat-icon>add_circle_outline</mat-icon> Agregar otra materia
    </button>
  </div>
  <div class="divGuardar">
    <button mat-raised-button class="buttonPrimary" (click)="onGuardar(form)">
      Guardar
    </button>
  </div>
</mat-card>
