.mat-form-field {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.materiaYDocente{
  width: 30%;
}

.divMateriaDocente{
  margin-top: 2%;
  margin-bottom: 2%;
}

.horario{
  margin-top: 3%;
}

.matFormHora
{
  width: 31%;
}

.selectDia{
  width: 20%;
}

div{
  text-align: center;
}

.agregarHorario{
  background: gainsboro;
}

hr{
  display: block;
  margin: 10px 0 10px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.34);
  width: 100%
}

.divGuardar{
  text-align: right;
}

.divAgregar{
  text-align: center;
}
