<h1 class="componente-titulo">
  Definir agenda de curso
</h1>

<mat-card class="card-body-componente">
  <form #form="ngForm">
    <mat-form-field>
      <mat-select
        placeholder="Seleccione curso"
        name="curso"
        ngModel
        #curso="ngModel"
        matNativeControl
        required
      >
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{ curso.curso }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card
      *ngFor="let materia of materiasHTML; let j = index"
      class="card-body-componente"
    >
      <div>
        <h3>Materia seleccionada</h3>
        <mat-form-field>
          <mat-select
            placeholder="Seleccione materia"
            [name]="'materia'+j"
            ngModel
            #materia="ngModel"
            matNativeControl
            required
          >
            <mat-option *ngFor="let materia of materias" [value]="materia._id">
              {{ materia.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Seleccione docente"
            [name]="'docente'+j"
            ngModel
            #docente="ngModel"
            matNativeControl
            required
          >
            <mat-option *ngFor="let docente of docentes" [value]="docente._id">
              {{ docente.apellido }}, {{ docente.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br />
      <hr />
      <br />
      <div class="horario">
        <mat-form-field>
          <mat-select
            placeholder="Seleccione dia"
            [name]="'dia'+j"
            ngModel
            #dia="ngModel"
            matNativeControl
            required
          >
            <mat-option *ngFor="let objDia of dias" [value]="objDia">
              {{ objDia }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              matInput
              [name]="'horaInicio'+j"
              ngModel
              #horaInicio="ngModel"
              placeholder="Hora inicio"
              [id]="'pickerInicio' + j"
              readonly
            />
          </div>
        </mat-form-field>
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              matInput
              [name]="'horaFin'+j"
              ngModel
              #horaFin="ngModel"
              placeholder="Hora fin"
              [id]="'pickerFin' + j"
              readonly
            />
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Seleccione dia"
            [name]="'dia2'+j"
            ngModel
            #dia="ngModel"
            matNativeControl
            required
          >
            <mat-option *ngFor="let objDia of dias" [value]="objDia">
              {{ objDia }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              matInput
              [name]="'horaInicio2'+j"
              ngModel
              #horaInicio="ngModel"
              placeholder="Hora inicio"
              [id]="'pickerInicio2' + j"
              readonly
            />
          </div>
        </mat-form-field>
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              matInput
              [name]="'horaFin2'+j"
              ngModel
              #horaFin="ngModel"
              placeholder="Hora fin"
              [id]="'pickerFin2' + j"
              readonly
            />
          </div>
        </mat-form-field>
      </div>
      <br />
    </mat-card>
  </form>
  <div>
    <button
      mat-raised-button
      class="agregarHorario"
      (click)="agregarMateria(materiasHTML.length)"
    >
      <mat-icon>add_circle_outline</mat-icon> Agregar otra materia
    </button>
  </div>
  <div class="div-buttons">
    <button mat-raised-button class="buttonPrimary" (click)="onGuardar(form)">
      Guardar
    </button>
  </div>
</mat-card>
