.mat-form-field {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.matFormHora
{
  width: 29%;
}

div{
  text-align: center;
}

.agregarHorario{
  background: gainsboro;
}

hr{
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}

.divGuardar{
  text-align: right;
}

.divAgregar{
  text-align: center;
}
