/* mat-card-subtitle{
  color: black;
}

mat-card-content{
  text-indent: 34%;
} */

mat-icon {
  display: flex;
  margin-left: auto;
}

table {
  width: 95%;
  margin: 2rem;
}

.table-mobile {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

.columnasNormales {
  width: 22% !important;
}

.columnasChicas {
  width: 8%;
}

th {
  font-weight: bold;
  font-size: 15px;
}

.mat-form-field {
  margin-left: 5% !important;
}

.titulo {
  text-align: center;
}

.promedio {
  text-align: center;
}

.bajoPromedio {
  background-color: #fc7978;
}

.div-button {
  text-align: right;
}

.lista {
  list-style-type: disc;
  margin-left: 20px;
}

.expansion-panel {
  width: 95%;
  margin-left: 30px;
}

.expansion-panel-mobile {
  width: 100%;
  margin-left: 0px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 15px;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 10px;
}
