<h1 class="componente-titulo" *ngIf="anios">
  Registrar sanción ciclo lectivo {{ anios[0] }}
</h1>
<mat-card class="card-body-componente">
  <form #form="ngForm">
    <div class="ubicacion-fecha">
      <b>Fecha: </b>
      <mat-form-field
        class="mat-form-Fecha"
        [class.mat-form-field-mobile]="mobileQuery.matches"
      >
        <input
          [disabled]="true"
          ngModel
          #diaFecha="ngModel"
          matInput
          name="diaFecha"
          required
          class="input-fecha"
        />
        {{ fechaActual | date: "EEEE" | titlecase }}
        {{ fechaActual | date: "dd/MM/yyyy" }}&nbsp;
      </mat-form-field>
    </div>
    <div class="contenido" [class.contenido-mobile]="mobileQuery.matches">
      <mat-card>
        <p class="titulo-datos-est">Datos del estudiante</p>
        <mat-card-subtitle>
          <b>Apellido/s: </b> {{ apellidoEstudiante }}
          <br />
          <b>Nombre/s: </b> {{ nombreEstudiante }}
        </mat-card-subtitle>
      </mat-card>
    </div>
    <br />
    <div class="div-selects">
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <mat-select
          placeholder="Seleccione tipo de sanción"
          name="sancion"
          ngModel
          #sancion="ngModel"
          matNativeControl
          (selectionChange)="onTipoSancionChange(sancion.value)"
          required
        >
          <mat-option
            *ngFor="let sancion of tiposSanciones; let i = index"
            [value]="i"
          >
            {{ sancion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
        <input
          ngModel
          #cantidad="ngModel"
          [disabled]="!tipoSancionSelected || suspensionSelected"
          matInput
          type="number"
          min="1"
          max="99"
          name="cantidadSancion"
          placeholder="Ingrese cantidad"
          oninput="validity.valid||(value='')"
          required
        />
      </mat-form-field>
    </div>
    <br />
    <div class="div-button">
      <button
        mat-raised-button
        class="button-primary"
        (click)="guardar(form)"
        mat-raised-button
      >
        Guardar
      </button>
      <button
        mat-raised-button
        [routerLink]="['/buscar/lista']"
        class="button-warn"
      >
        Volver
      </button>
    </div>
  </form>
</mat-card>
