.button-perfil {
  background-color: #551111 !important;
  color: #fff !important;
  margin-left: 38% !important;
}

.button-perfil-calificaciones {
  background-color: #551111 !important;
  color: #fff !important;
  margin-left: 41% !important;
}

table {
  width: 50%;
  margin-left: 30%;
}

.mat-card {
  max-width: 1200px !important;
}

th {
  font-weight: bold;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.div-button {
  text-align: right;
  /* margin-bottom: 2%; */
}

button {
  color: white;
}

.mat-toolbar {
  background: #2f6483 !important;
  margin-bottom: 6%;
}

.mat-button.mat-accent {
  background: #b4d1ce !important;
  color: black;
}

.active {
  background: #b4d1ce !important;
  color: black;
}

/* ---------------- */
.grid-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px;
  grid-gap: 8px;
  padding: 10px;
  border-radius: 4px;
}

.grid-container > .mat-card {
  display: inline-block;
  align-items: stretch;
  grid-column-gap: 30px;
  border-radius: 4px;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.opcion {
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  max-width: 800px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.71) !important;
}

.grid-container-mobile {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.grid-container-mobile > .mat-card {
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.mat-icon {
  font-size: 45px;
}

.div-button {
  width: 94%;
}

.div-button-mobile {
  width: 88%;
}

.mensaje-suspendido {
  text-align: center;
  margin: auto;
  font-size: large;
  background-color: #fc7978;
  box-shadow: 9px 7px 13px 0px #00000040;
  border-radius: 15px 15px;
  width: 350px;
  margin-bottom: 8px;
}
