.div-button {
  text-align: right;
  margin-right: 3%;
}

.div-button-mobile
{
  text-align: right;
  margin-right: 7%;
}

.grid-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 170px 170px;
  grid-gap: 8px;
  padding: 10px;
  border-radius: 4px;
}

.grid-container-mobile {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows:auto;
  grid-gap: 8px;
  padding: 10px;
  border-radius: 4px;
}

.grid-container > .mat-card {
  display: inline-block;
  align-items: stretch;
  grid-column-gap: 30px;
  border-radius: 4px;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.opcion {
  /* cursor: pointer; */
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  max-width: 800px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.71) !important;
}

.botones {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  border: 1px solid rgb(33, 70, 91) !important;
  color: rgb(33, 70, 91) !important;
  width: 70%;
}
.mat-card > :last-child:not(.mat-card-footer) {
  margin-top: inherit;
}

.colorCard {
  background-color: #47988d59;
}

.colorBoton {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  border: 1px solid #29575059 !important;
  color: rgb(255, 255, 255) !important;
  /* color:#29575059 !important; */
  background-color: #36746b59 !important;
  width: 70%;
}

.parrafo {
  text-align: center;
}

.center {
  text-align: center;
}

textarea {
  border-style: none;
  border-color: Transparent;
  overflow-x: hidden;
  color: black !important;
  padding: 2%;
}
