@mixin line-clamp($numLines : 2) {

  -moz-box-orient: vertical;      /* Mozilla */
  -webkit-box-orient: vertical;   /* WebKit */
  display: flex;                   /* As specified */
  display: -moz-box;              /* Mozilla */
  display: -webkit-box;           /* WebKit */
  -webkit-line-clamp: $numLines;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
}

div.collapsed {

  @include line-clamp(2);
}

a.show-link {
  color: brand-main !important;
  cursor: pointer;
  display: block;
  margin-top: 5px;
}

.summary {
  line-height: 1.4em;
  margin-right: 20px;
  word-break: break-word;
  word-wrap: break-word;      /* IE */
}
