<h1 class="componente-titulo">Detalle evento:</h1>
<mat-card class="card-body-componente">
  <p class="titulo">
    {{ evento.titulo }}
  </p>
  <p class="diaEvento">
    <b>Día evento:</b> {{ obtenerDia(evento.fechaEvento) }} de
    {{ obtenerMes(evento.fechaEvento) }}
  </p>
  <p class="horaEvento">
    <b>Hora inicio y fin:</b> {{ evento.horaInicio }} - {{ evento.horaFin }}
  </p>
  <div class="imagen">
    <mat-carousel
      interval="5000"
      maxWidth="auto"
      proportion="75"
      color="warn"
      [hideArrows]="false"
      [hideIndicators]="false"
    >
      <div *ngFor="let filename of evento.filenames">
        <mat-carousel-slide
          overlayColor="transparent"
          [image]="getImage(filename)"
        >
        </mat-carousel-slide>
      </div>
    </mat-carousel>
  </div>
  <!-- <img id="imagen" [src]="imgURL" class="image-preview" *ngIf="imgURL" /> -->
  <div class="divParticipan">
    <mat-chip-list>
      <p class="textoParticipan"><b>Participan:</b></p>
      <mat-chip *ngFor="let tag of evento.tags">
        {{ tag }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <mat-card-content>
    <p class="descripcion">
      <b>
        Descripción:
      </b>
      {{ evento.descripcion }}
    </p>
  </mat-card-content>
  <br />
  <mat-divider class="divisor"></mat-divider>
  <mat-form-field appearance="outline" class="comentario">
    <textarea
      matInput
      name="comentario"
      ngModel
      #comentario="ngModel"
      [(ngModel)]="descripcionComentario"
      rows="3"
      placeholder="Ingrese comentario"
      type="text"
    >
    </textarea>
  </mat-form-field>
  <div class="div-button">
    <button
      mat-raised-button
      (click)="onGuardar(comentario.value)"
      class="buttonPrimary"
    >
      Guardar
    </button>
    <button mat-raised-button [routerLink]="['/home']" class="buttonWarn">
      Volver
    </button>
  </div>
  <br />
  <div *ngIf="eventoService.comentarios.length != 0">
    <br />
    <mat-divider class="divisor"></mat-divider>
    <p class="tituloComentarios">
      <b style="font-size: 28px;">Comentarios</b>
    </p>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Comentarios</b>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>menu_book</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div
          class="test"
          *ngFor="let comentario of eventoService.comentarios; let i = index"
        >
          <!-- <button mat-icon-button class="botonOpciones">
          <mat-icon>more_horiz</mat-icon>
        </button> -->
          <div class="datosComentario">
            <p class="nombreAutor">
              <b>{{ comentario.apellido }}, {{ comentario.nombre }} </b>
            </p>
            <p></p>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="dropDown"
              class="botonOpciones"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                (click)="onEliminar(comentario._id)"
                *ngIf="this.permisos[i]"
              >
                Eliminar comentario
              </button>

              <button mat-menu-item (click)="onReportar()">
                Reportar como inapropiado (Todavía no resuelto)
              </button>
            </mat-menu>
          </div>
          <p class="textoComentario">
            <app-read-more
              [text]="comentario.comentario"
              [maxHeight]="40"
              [readAll]="false"
            ></app-read-more>
          </p>
          <p class="fechaComentario">
            {{ obtenerDia(comentario.fecha) }}
            {{ obtenerMes(comentario.fecha) }}
          </p>
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <br />
</mat-card>
