<mat-card class="card-body-componente">
  <mat-card-title>
    {{ evento.titulo }}
    <div class="fechaEvento">
      <time datetime="evento.fechaEvento" class="icon">
        <strong>{{ obtenerMes(evento.fechaEvento) }}</strong>
        <span>{{ obtenerDia(evento.fechaEvento) }}</span>
      </time>
    </div>
  </mat-card-title>
  <mat-card-subtitle
    >{{ evento.horaInicio }} - {{ evento.horaFin }}</mat-card-subtitle
  >
  <img mat-card-image [src]="getImage(evento.imgUrl)" />
  <mat-chip-list>
    <p class="textoParticipan">Participan:</p>
    <mat-chip *ngFor="let tag of evento.tags">
      {{ tag }}
    </mat-chip>
  </mat-chip-list>
  <mat-card-content>
    <p class="descripcion">
      {{ evento.descripcion }}
    </p>
  </mat-card-content>
  <br>
  <mat-divider class="divisor"></mat-divider>
  <mat-form-field>
    <textarea
      matInput
      name="comentario"
      ngModel
      #comentario="ngModel"
      rows="3"
      placeholder="Ingrese comentario"
      type="text"
    >
    </textarea>
  </mat-form-field>
  <div class="div-button">
    <button mat-raised-button (click)="onGuardar(comentario.value)" class="buttonPrimary">Guardar</button>
  </div>
</mat-card>
