mat-form-field,
textarea {
  width: 92%;
  margin-top: 15px;
  resize: initial;
}

.image-preview {
  height: 20rem;
  margin: auto;
  display: flex;
  border: 3px solid black;
  padding: 5px;
  margin-bottom: 20px !important;
}

.titulo {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.mat-chip {
  font-size: 19px;
  margin-bottom: 0% !important;
}

.fechaEvento {
  position: absolute;
  top: 7px;
  right: 20px;
  width: 6em;
}

.boton-opciones {
  margin-left: auto !important;
  display: flex;
}

div.mat-chip-list-wrapper {
  display: block;
  margin: 0px !important;
}

.texto-participan {
  font-size: 20px;
  margin: 10px 0px 0px 25px !important;
}

.descripcion {
  display: flex;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.comentario {
  display: block;
    margin: 0 auto;
    margin-top: 2%;
}

p,
b {
  font-size: 20px;
}

.dia-evento, .hora-evento{
  margin-left: 25px;
}

time.icon {
  font-size: 15px;
  display: block;
  position: relative;
  width: 6em;
  height: 6em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff,
    0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #5c49bb;
  border-bottom: 1px dashed rgb(146, 132, 214);
  box-shadow: 0 2px 0 #5c49bb;
}

time.icon em {
  position: absolute;
  color: #5c49bb;
}

time.icon span {
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

.divisor {
  border-top-color: #00000052 !important;
  border-top-width: 2px !important;
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  height: 10px !important;
}

.div-button {
  text-align: right;
}

mat-icon {
  display: flex;
  margin-left: auto;
}

.datos-comentario {
  display: flex;
  margin-left: auto;
  justify-content: space-between; /* para que la fecha este del lado derecho */
}

.nombre-autor {
  margin-left: 0px;
}

.mat-panel-title {
  font-size: 20px;
}

.mat-chip {
  margin-bottom: 0% !important;
  margin-top: 2%;
}

.div-participan {
  margin-left: 4px !important;
}

.imagen {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.dia-evento
{
  margin-bottom: 0px;
}

.hora-evento {
  margin-bottom: 10px !important;
}

.fecha-comentario {
  margin-right: 5%;
  font-size: small !important;
}

.titulo-comentarios {
  font-size: 27px;
  text-align: center;
  margin-left: 0%;
}
.texto-comentario {
  border-radius: 25px;
  background: white;
  padding: 20px;
  margin-top: 0%;
  margin-left: 2%;
  word-wrap: break-word;
}


::ng-deep
  .mat-button-wrapper
  > mat-icon.notranslate.material-icons.mat-icon-no-color.ng-star-inserted {
  background: white !important;
  border-radius: 50% !important;
  color: black !important;
}

::ng-deep .mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled] {
  background-color: rgba(27, 11, 97, 0.938);
}

::ng-deep .mat-mini-fab.mat-warn [ng-reflect-disabled="false"] {
  background-color: white !important;
}

.mat-expansion-panel {
  box-shadow: none;
}

.botonVolver {
  text-align: right;
}

.contenedor-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

