.mat-expansion-panel {
  width: 70%;
  margin: auto;
}

.mat-form-Fecha {
  text-align: center !important;
}

.mat-expansion-panel-mobile {
  width: 100%;
}

.expansion-panel-1 {
  margin-top: 1rem;
}

.mat-radio-button {
  margin: 1rem;
}

.ubicacion-fecha {
  margin-top: 0.5rem;
  text-align: end;
}

.input-fecha {
  width: 0%;
  color: black !important;
}

.div-button {
  text-align: right;
}

.div-select {
  text-align: center !important;
  margin-top: 6%;
}

.contenido {
  width: 41%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem !important;
}

.contenido-mobile {
  width: 100%;
}

.card-datos {
  margin: auto;
  margin-top: 1rem;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.titulo-datos-est {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.titulos-reg-doc {
  font-size: 20px;
}

.titulos-reg-doc-mobile {
  font-size: 18px !important;
}

.parrafo {
  text-align: center;
}

.capacidad {
  text-align: center;
}

.mensaje-atencion {
  color: black;
}

.mensaje-atencion-curso {
  color: black;
  font-weight: bold;
}

.aviso {
  margin-bottom: 0;
  text-align: center;
  font-size: 19px;
}

.card-spinner {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  max-width: 800px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.71) !important;
}
