
  <div *ngIf="isLoading">
    <h3 mat-dialog-title class="titulo-popup">Procesando</h3>
    <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
  </div>
<div *ngIf="formValido && !isLoading">
  <h3 mat-dialog-title class="titulo-popup">Confirmar</h3>
  <div mat-dialog-content>
    <p class="parrafo">¿Desea confirmar la acción?</p>
  </div>
  <div mat-dialog-actions class="button-popup">
    <button
      mat-raised-button
      (click)="onYesConfirmarClick()"
      cdkFocusInitial
      class="button-primary"
    >
      Sí
    </button>
    <button
      mat-raised-button
      (click)="onNoCancelarConfirmarClick()"
      class="button-warn"
    >
      No
    </button>
  </div>
</div>
