<h1 class="componente-titulo" *ngIf="!materiaSelec">Rendimiento del curso</h1>
<mat-card class="card-body-componente">
  <form #form="ngForm">
    <div class="div-selects">
      <mat-form-field>
        <mat-select
          placeholder="Seleccione tipo de grafico"
          name="grafico"
          ngModel
          [(ngModel)]="tipoGrafico"
          #grafico="ngModel"
          matNativeControl
          required
          (selectionChange)="onTipoGraficoChange(grafico)"
        >
          <mat-option value="pie">Torta</mat-option>
          <!-- <mat-option value="line">Línea</mat-option> -->
          <mat-option value="bar">Barras</mat-option>
          <mat-option value="horizontalBar">Barras horizontales</mat-option>
          <mat-option value="doughnut">Dona</mat-option>
          <!-- <mat-option value="polarArea">polarArea</mat-option> -->
          <!-- <mat-option value="bubble">Burbuja</mat-option> -->
          <!-- <mat-option value="scatter">scatter</mat-option> -->
        </mat-select>
      </mat-form-field>
      <mat-form-field class="selectYear">
        <mat-select
          placeholder="Seleccione año"
          name="anio"
          ngModel
          #anio="ngModel"
          matNativeControl
          required
          (selectionChange)="onYearSelected(anio)"
        >
          <mat-option *ngFor="let y of year" [value]="y.anio">
            {{ y.anio }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Seleccione curso"
          name="curso"
          ngModel
          #curso="ngModel"
          matNativeControl
          required
          (selectionChange)="onCursoSeleccionado(curso, materia)"
        >
          <mat-option *ngFor="let objCurso of cursos" [value]="objCurso.id">
            {{ objCurso.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Seleccione materia"
          name="materia"
          ngModel
          #materia="ngModel"
          matNativeControl
          required
          (selectionChange)="obtenerNotas(form)"
        >
          <mat-option
            *ngFor="let objMateria of materias"
            [value]="objMateria.id"
          >
            {{ objMateria.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div id="content" #content>
      <h1 class="componente-titulo" *ngIf="materiaSelec">
        Rendimiento del curso {{ cursoSNombre }}: {{ materiaSNombre }}
        {{ fechaActual }}
      </h1>
      <br />
      <div class="div-canvas">
        <canvas
          class="cv"
          *ngIf="!isLoading3"
          baseChart
          [datasets]="barDataSet"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        ></canvas>
        <canvas
          class="cv"
          *ngIf="!isLoading3"
          baseChart
          [datasets]="barDataSet1"
          [labels]="barChartLabels"
          [options]="barChartOptions1"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        ></canvas>
        <canvas
          class="cv"
          *ngIf="!isLoading3"
          baseChart
          [datasets]="barDataSet2"
          [labels]="barChartLabels"
          [options]="barChartOptions2"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        ></canvas>
      </div>
      <br />
      <canvas
        *ngIf="!isLoading3"
        baseChart
        [datasets]="barDataSet3"
        [labels]="barChartLabels"
        [options]="barChartOptions3"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      ></canvas>
    </div>
  </form>
  <div class="div-button">
    <button mat-raised-button class="button-warn" [routerLink]="['/reportes']">
      Volver
    </button>
    <button
      mat-raised-button
      class="button-primary"
      (click)="descargarPDF()"
      [disabled]="!materiaSelec"
    >
      Exportar
    </button>
  </div>
</mat-card>
