mat-card-subtitle{
  color: black;
}

mat-card-content{
  text-indent: 34%;
}

.button-volver{
  text-align: right;
  margin-left: 87% !important;
}

table {
  width: 95%;
  margin: 2rem;
}

.columnasNormales{
  width:22% !important;
}

.columnasChicas{
  width:8%;
}

th{
  font-weight: bold;
  font-size: 15px;
}
