/* mat-card-subtitle{
  color: black;
}

mat-card-content{
  text-indent: 34%;
} */


table {
  width: 95%;
  margin: 2rem;
}

.columnasNormales{
  width:22% !important;
}

.columnasChicas{
  width:8%;
}

th{
  font-weight: bold;
  font-size: 15px;
}

.mat-form-field{
  margin-left: 5% !important;
}
