<h1 class="componente-titulo" *ngIf="aniosCiclos">
  Reglas de Negocio para el ciclo lectivo siguiente {{ aniosCiclos[1] }}
</h1>
<mat-card class="card-body-componente">
  <h3 class="margen2">Horario llegada tarde</h3>
  <div class="div-parametro">
    <p class="parametro-nombre">Antes y después de las</p>
    <mat-form-field class="mat-form1">
      <input
        name="horaLlegadaTarde"
        [(ngModel)]="horaLlegadaTarde"
        matInput
        [ngxTimepicker]="picker1"
        [format]="24"
        placeholder="Ingrese hora"
        min="07:00"
        readonly
        required
      />
      <ngx-material-timepicker
        [minutesGap]="5"
        #picker1
      ></ngx-material-timepicker>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <h3 class="margen">Horario retiro anticipado</h3>
  <div class="div-parametro">
      <p class="parametro-nombre">Antes y después de las</p>
      <mat-form-field class="mat-form1">
        <input
          name="nombreRetiroAnticipado"
          [(ngModel)]="horaRetiroAnticipado"
          matInput
          [ngxTimepicker]="picker2"
          [format]="24"
          placeholder="Ingrese hora"
          min="07:00"
          readonly
          required
        />
        <ngx-material-timepicker
          [minutesGap]="5"
          #picker2
        ></ngx-material-timepicker>
      </mat-form-field>
    </div>
  <mat-divider></mat-divider>
  <h3 class="margen">Faltas para suspención</h3>
  <div class="div-parametro">
      <p class="parametro-nombre">Cantidad de inasistencias para suspención</p>
      <mat-form-field class="mat-form1">
        <input
          name="faltasSuspencion"
          [(ngModel)]="cantidadFaltasSuspension"
          ngModel
          #titulo="ngModel"
          matInput
          placeholder="Ingrese cantidad de faltas"
          type="number"
          required
        />
      </mat-form-field>
    </div>
  <mat-divider></mat-divider>
  <h3 class="margen">Materias desaprobadas para libre</h3>
  <div class="div-parametro">
      <p class="parametro-nombre">Cantidad de materias para el estado libre</p>
      <mat-form-field class="mat-form1">
        <input
          [(ngModel)]="cantidadMateriasInscripcionLibre"
          name="materiasLibre"
          ngModel
          #titulo="ngModel"
          matInput
          placeholder="Ingrese cantidad de materias"
          type="number"
          required
        />
      </mat-form-field>
    </div>

  <br />

  <div class="div-button">
    <button class="button-primary" (click)="onGuardar()" mat-raised-button>
      Guardar
    </button>
    <button
      mat-raised-button
      [routerLink]="['/accionesDirector']"
      class="button-warn"
    >
      Volver
    </button>
  </div>
</mat-card>
