<h1 class="componente-titulo" *ngIf="aniosCiclos">
  Parametrizar Reglas de Negocio para el año {{ aniosCiclos[1] }}
</h1>
<mat-card class="card-body-componente">
  <h3 class="margen2">Horario llegada tarde</h3>
  <mat-grid-list class="margen" cols="1" rowHeight="55px">
    <mat-grid-tile>
      Antes y después de las
      <mat-form-field class="mat-form1">
        <input
          name="horaLlegadaTarde"
          [(ngModel)]="horaLlegadaTarde"
          matInput
          [ngxTimepicker]="picker1"
          [format]="24"
          placeholder="Ingrese hora"
          min="07:00"
          readonly
          required
        />
        <ngx-material-timepicker
          [minutesGap]="5"
          #picker1
        ></ngx-material-timepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <h3 class="margen">Horario retiro anticipado</h3>
  <mat-grid-list class="margen" cols="1" rowHeight="55px">
    <mat-grid-tile>
      Antes y después de las
      <mat-form-field class="mat-form1">
        <input
          name="nombreRetiroAnticipado"
          [(ngModel)]="horaRetiroAnticipado"
          matInput
          [ngxTimepicker]="picker2"
          [format]="24"
          placeholder="Ingrese hora"
          min="07:00"
          readonly
          required
        />
        <ngx-material-timepicker
          [minutesGap]="5"
          #picker2
        ></ngx-material-timepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <h3 class="margen">Faltas para suspeción</h3>
  <mat-grid-list class="margen" cols="1" rowHeight="55px">
    <mat-grid-tile
      >Cantidad de inasistencias para suspención
      <mat-form-field class="mat-form1">
        <input
          name="faltasSuspencion"
          [(ngModel)]="cantidadFaltasSuspension"
          ngModel
          #titulo="ngModel"
          matInput
          placeholder="Ingrese cantidad de faltas"
          type="number"
          required
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <h3 class="margen">Materias desaprobadas para libre</h3>
  <mat-grid-list class="margen" cols="1" rowHeight="55px">
    <mat-grid-tile
      >Cantidad de materias para el estado libre
      <mat-form-field class="mat-form1">
        <input
          [(ngModel)]="cantidadMateriasInscripcionLibre"
          name="materiasLibre"
          ngModel
          #titulo="ngModel"
          matInput
          placeholder="Ingrese cantidad de materias"
          type="number"
          required
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <br />

  <div class="div-button">
    <button class="button-primary" (click)="onGuardar()" mat-raised-button>
      Guardar
    </button>
    <button
      mat-raised-button
      [routerLink]="['/accionesDirector']"
      class="button-warn"
    >
      Volver
    </button>
  </div>
</mat-card>
