.div-button {
  text-align: right;
  margin-top: 1%;
  margin-right: 6%;
}

.mat-form1 {
  width: 29%;
  margin-left: 15%;
  margin-top: auto;
}
.mat-form-hora2 {
  width: 29%;
  margin-left: 7%;
}

.parametro-nombre{
  max-width: 307px;
}
.div-parametro{
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
}

.center
{
  text-align: center;
}

.margen
{
  margin-left: 7%;
}

.margen2
{
  margin-left: 7%;
  margin-top: 25px !important;
}

.mat-divider
{
  margin-left: 60px;
}

.mat-card .mat-divider-horizontal
{
  width: 85%;
}
