.mat-expansion-panel{
  width: 70%;
  margin: auto;
}
.expansion-panel-1{
  margin-top: 1rem;
}

.mat-radio-button{
  margin: 1rem;
}

.ubicacionfecha {
  margin-top: 0.5rem;
  float: right;
}

.inputFecha{
  width: 45%;
  color: black !important;
}

.div-button {
  text-align: right;
}

.div-selects{
  text-align: center !important;
}

.curso{
  width: 25%;
}

.contenido {
  width: 41%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem !important;
}

.card-datos{
  margin: auto;
  margin-top: 1rem;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.titulo-datos-est{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.titulos-reg-doc{
  font-size: 20px;
}

.parrafo{
  text-align: center;
}
