<h1 class="componente-titulo">Inscribir estudiante a un curso</h1>
<mat-card class="card-body-componente">
<div class="ubicacionfecha">
    <b>Fecha: </b>
      &nbsp;
      <mat-form-field>
          <input
            [disabled]="true"
            ngModel
            #diaFecha="ngModel"
            matInput
            name="diaFecha"
            [(ngModel)]="diaActual"
            required
            class="inputFecha"
          />
          {{ fechaActual | date: "EEEE" | titlecase  }}
          {{ fechaActual | date: "dd/MM/yyyy" }}
           </mat-form-field>
  </div>
  <br />
 <div class="contenido">
    <mat-card >
      <p class="titulo-datos-est">Datos del estudiante</p>
      <mat-card-subtitle>
        <b>Apellido/s: </b> {{ apellidoEstudiante }}
        <br />
        <b>Nombre/s: </b> {{ nombreEstudiante }}
      </mat-card-subtitle>
    </mat-card>
  </div>
  <br />

  <br />
  <form #form="ngForm">
    <div class="div-selects">
      <mat-form-field class="curso">
        <mat-select
          placeholder="Seleccione curso"
          name="curso"
          ngModel
          #curso="ngModel"
          matNativeControl
          required
        >
          <mat-option
            *ngFor="let objCurso of cursos"
            [value]="objCurso.curso"
          >
            {{ objCurso.curso }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b class="titulos-reg-doc">Registrar documentos entregados</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox (change)="registrarDocumento(0)">
          Fotocopia del documento</mat-checkbox
        >
        <br />
        <mat-checkbox (change)="registrarDocumento(1)">
          Ficha médica</mat-checkbox
        >
        <br />
        <mat-checkbox (change)="registrarDocumento(2)">
          Informe año anterior</mat-checkbox
        >
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <div class="div-button">
      <button
        mat-raised-button
        color="primary"
        (click)="openDialogo('confirmar', form, curso)"
        mat-raised-button
      >
        Inscribir
      </button>
      <button
        mat-raised-button
        (click)="openDialogo('cancelar', form, curso)"
        color="warn"
      >
        Cancelar
      </button>
      <button
      mat-raised-button
      [routerLink]="['/buscar/lista']"
      color="primary"
    >
     Volver
    </button>
    </div>
  </form>
</mat-card>
