.mat-expansion-panel{
  width: 70%;
  margin: auto;
}
.expansion-panel-1{
  margin-top: 1rem;
}

.mat-radio-button{
  margin: 1rem;
}

.mat-form-field {
  width: 25%;
}

.fecha {
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0rem;
  width: 20%;
  float: right;
}

.div-button {
  text-align: right;
}

.div-selects{
  text-align: center !important;
}
