<div *ngIf="tipoPopup === 'cancelar'">
  <h3 mat-dialog-title class="tituloPopup">Cancelar</h3>
  <div mat-dialog-content>
    <p class="parrafo">¿Está seguro que desea cancelar?</p>
  </div>
  <div mat-dialog-actions class="buttonPopup">
    <button
      mat-raised-button
      class="buttonPrimary"
      (click)="onYesCancelarClick()"
      cdkFocusInitial
    >
      Sí
    </button>
    <button
      mat-raised-button
      class="button"
      class="buttonWarn"
      (click)="onNoCancelarConfirmarClick()"
    >
      No
    </button>
  </div>
</div>

<div *ngIf="formValido && tipoPopup === 'confirmar'">
  <h3 mat-dialog-title class="tituloPopup">Confirmar</h3>
  <div mat-dialog-content>
    <p class="parrafo">¿Desea confirmar la acción?</p>
  </div>
  <div mat-dialog-actions class="buttonPopup">
    <button
      mat-raised-button
      (click)="onYesConfirmarClick()"
      cdkFocusInitial
      class="buttonPrimary"
    >
      Sí
    </button>
    <button
      mat-raised-button
      (click)="onNoCancelarConfirmarClick()"
      class="buttonWarn"
    >
      No
    </button>
  </div>
</div>
