.mat-expansion-panel{
  width: 70%;
  margin: auto;
}
.expansion-panel-1{
  margin-top: 1rem;
}

.mat-radio-button{
  margin: 1rem;
}

.mat-form-field {
  width: 25%;
}

.fecha {
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0rem;
  width: 20%;
  float: right;
}

.div-button {
  text-align: right;
}

.div-selects{
  text-align: center !important;
}

.contenido {
  width: 41%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.card-datos{
  margin: auto;
  margin-top: 1rem;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.titulo-datos-est{
  font-size: 20px;
  font-weight: bold;
}

.titulos-reg-doc{
  font-size: 20px;
}
