<h1 class="mat-h1" color="accent" style="text-align:center">Inscribir estudiante a un curso</h1>
<mat-card>

    <div class="fecha" >
        <mat-form-field class="fecha">
          <input matInput placeholder="Fecha:" [disabled]="true">
          {{fechaActual | date:'dd/MM/yyyy'}}
        </mat-form-field>
      </div>
<br>
<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
  <mat-panel-title>
   Datos del estudiante seleccionado
  </mat-panel-title>
</mat-expansion-panel-header>
<p> <b>Apellido/s: </b> {{ apellidoEstudiante }}</p>
<p> <b>Nombre/s: </b> {{ nombreEstudiante }} </p>
</mat-expansion-panel>
</mat-accordion>
<br>
<form #form="ngForm">
  <mat-form-field>
    <mat-select
    placeholder="Seleccione año"
    name="año"
    ngModel
    #año="ngModel"
    matNativeControl
    [(ngModel)]="anoSeleccionado"
    required
    (selectionChange)="FiltrarDivisiones()"
  >
    <mat-option
    *ngFor="let anio of anios "
    [value]="anio"
    >
    {{ anio }}
  </mat-option>
  </mat-select>
</mat-form-field>
&nbsp; &nbsp;
<mat-form-field>
  <mat-select
    placeholder="Seleccione division"
    name="division"
    ngModel
    #division="ngModel"
    matNativeControl
    required
    [disabled]= "!seleccionDeAnio"
    >
    <mat-option *ngFor="let division of divisionesFiltradas" [value]="division">
      {{ division }}
    </mat-option>
  </mat-select>
</mat-form-field>

<br>
<br>
<button mat-raised-button color="primary"  (click)="openDialogo('confirmar', form, division)" mat-raised-button>
  Inscribir
</button>
<button mat-raised-button (click)="openDialogo('cancelar', form, division)" color="warn">
  Cancelar
</button>
</form>
</mat-card>
