.opcion{
  /* margin: 1rem; */
  margin:0;
}

.tituloMenu, .mat-icon-button, .homeButton{
  color: #ffff;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
  /* background-color: #c12d2a; */
  background-color: #2f6483;
/* https://colorhunt.co/palette/157179 paleta de color para el azul */
  height: 64px;
}

.body-contenido{
  padding: 2rem;
}

.mat-sidenav{
  box-shadow: 2px 0 5px -2px #888;
  border-right: 0px !important;
}

/* Para que el container del sidenav sea del tamaño completo del body,
   le pongo 100% menos el tamaño del header */
.mat-sidenav-container{
  height: calc(100% - 64px);
}

.titulo-expansion{
  margin-left: 4%;
}

/* .opciones-expansion{
  margin-left: 10%;
} */

.homeButton{
  margin-left: auto !important;
}

.cierreSesion{
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 16px;
  margin: 0px !important;
  width: 100%;
  background: #47988d59;
  text-align: left;
  height: 7%;
  border-radius: 0% !important;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.71) !important;
}

.contenedor-total {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* top para que empiece luego del header */
.contenedor-sidenav{
  flex:1;
  top:64px !important;
  background-color: #eef0f1;
}


.body-contenido{
  height: 100%;
}

/* nuevo */
.mat-expansion-panel{
  border-radius: 0px !important;
  margin:0 !important;
  background: #47988d59;
  /* background-color: #E6F4F1; */

}

.mat-expansion-panel-header{
  padding-left: 2%;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.71) !important;
}

/* .contenidoMatExp{
  background-color: #f4f1eb75 !important;
} */

/* Comiezo del menu lateral que sea luego del header */
.mat-list-base{
  padding-top: 0 !important;
}

.titulo-row{
   text-align: center !important;
  color: #ffff;
  flex: 1 1 auto;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.parrafo{
  text-align: center;
}
