/* .ubicacion_inferior{
  position:absolute;
  bottom:5px;
} */

.opcion{
  margin: 1rem;
}

.tituloMenu, .mat-icon-button, .home{
  color: #ffff;
}

.fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
  background-color: #c12d2a;
}

.body-contenido{
  padding: 2rem;
  padding-top: 0rem;
}

/* Para que el container del sidenav sea del tamaño completo del body,
   le pongo 100% menos el tamaño del header */
.mat-sidenav-container{
  height: calc(100% - 64px);
}

.titulo-expansion{
  margin-left: 8%;
}

.opciones-expansion{
  margin-left: 10%;
}

.ubicacionHome
{
  margin-left: 88%;
  margin-right: 7%;
}

.cierreSesion{
  position: absolute;
  left:    0;
  bottom:   0;
  font-weight: bold;
  font-size: 16px;
}
