<h1 class="componente-titulo">
  Registrar estudiante
</h1>
<mat-card class="card-body-componente">
  <meta charset="utf-8" />

  <form #form="ngForm" (submit)="onGuardar(form)">
    <mat-accordion>
      <mat-expansion-panel [class.mat-expansion-panel-mobile]="mobileQuery.matches" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Datos personales del estudiante</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <input
            name="apellido"
            minlength="2"
            maxlength="40"
            ngModel
            #apellido="ngModel"
            matInput
            placeholder="Ingrese apellido/s"
            type="text"
            required
            (keypress)="checkLetras($event)"
          />
        </mat-form-field>

        &nbsp;

        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <input
            pattern="[A-Za-záéíóúÁÉÍÓÚñÑ ]+"
            name="nombre"
            minlength="2"
            maxlength="40"
            ngModel
            #nombre="ngModel"
            matInput
            placeholder="Ingrese nombre/s"
            type="text"
            required
            (keypress)="checkLetras($event)"
          />
        </mat-form-field>
        <br />
        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <mat-select
            placeholder="Seleccione tipo de documento"
            name="tipoDocumento"
            ngModel
            #tipoDocumento="ngModel"
            matNativeControl
            required
          >
            <mat-option value="DNI">DNI</mat-option>
            <mat-option value="Cedula de Identidad"
              >Cédula de Identidad</mat-option
            >
            <mat-option value="Libreta de Enrolamiento"
              >Libreta de Enrolamiento</mat-option
            >
            <mat-option value="Libreta Civica">Libreta Cívica</mat-option>
            <mat-option value="Pasaporte">Pasaporte</mat-option>
          </mat-select>
        </mat-form-field>

        &nbsp;

        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <input
            name="nroDocumento"
            maxlength="8"
            pattern="[0-9]+"
            ngModel
            #nroDocumento="ngModel"
            matInput
            placeholder="Ingrese número de documento"
            type="number"
            required
            (keypress)="checkNumeros($event)"
          />
        </mat-form-field>

        <br />

        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <input
            name="cuil"
            pattern="[0-9]+"
            maxlength="11"
            ngModel
            #cuil="ngModel"
            matInput
            type="number"
            placeholder="Ingrese número de CUIL"
            (keypress)="checkNumeros($event)"
          />
        </mat-form-field>
        <br />
        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <mat-select
            placeholder="Seleccione sexo"
            name="sexo"
            ngModel
            #sexo="ngModel"
            matNativeControl
            required
          >
            <mat-option value="femenino">Femenino</mat-option>
            <mat-option value="masculino">Masculino</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="nacionalidad">
          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <input
              matInput
              name="fechaNac"
              ngModel
              #fechaNac="ngModel"
              [max]="maxDate"
              [matDatepicker]="picker"
              placeholder="Sel. fecha de nacimiento"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              startView="multi-year"
              disabled="false"
            ></mat-datepicker>
          </mat-form-field>
          <br />
          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <mat-select
              placeholder="Seleccione nacionalidad"
              name="nacionalidad"
              ngModel
              #nacionalidad="ngModel"
              matNativeControl
            >
              <mat-option
                *ngFor="let nacionalidad of nacionalidades"
                [value]="nacionalidad.name"
              >
                {{ nacionalidad.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
        </div>
        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <mat-select
            placeholder="Seleccione estado civil"
            name="estadoCivil"
            ngModel
            #estadoCivil="ngModel"
            matNativeControl
          >
            <mat-option value="soltero">Soltero/a</mat-option>
            <mat-option value="casado">Casado/a</mat-option>
            <mat-option value="viudo">Viudo/a</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
          <input
            matInput
            name="telefono"
            pattern="[0-9]{10}"
            ngModel
            #telefono="ngModel"
            placeholder="Ingrese número de teléfono"
            type="number"
            (keypress)="checkNumeros($event)"
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-accordion>
      <mat-expansion-panel [class.mat-expansion-panel-mobile]="mobileQuery.matches">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Domicilio</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="domicilio">
          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <input
              name="calle"
              pattern="[A-Za-záéíóúÁÉÍÓÚñÑ. ]+"
              minlength="2"
              maxlength="30"
              ngModel
              #calle="ngModel"
              matInput
              placeholder="Ingrese calle"
              type="text"
              required
            />
          </mat-form-field>

          &nbsp;

          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <input
              name="nroCalle"
              pattern="[0-9]+"
              maxlength="5"
              ngModel
              #nroCalle="ngModel"
              matInput
              type="number"
              placeholder="Ingrese altura"
              required
              (keypress)="checkNumeros($event)"
            />
          </mat-form-field>
          <br />
          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <input
              name="piso"
              pattern="[\w]+"
              ngModel
              #piso="ngModel"
              matInput
              placeholder="Ingrese piso"
              type="text"
            />
          </mat-form-field>
          <br />
          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <input
              name="departamento"
              ngModel
              #departamento="ngModel"
              matInput
              pattern="[A-Za-záéíóúÁÉÍÓÚ]+"
              placeholder="Ingrese departamento"
              type="text"
            />
          </mat-form-field>
          <br />
          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <mat-select
              placeholder="Seleccione provincia"
              name="provincia"
              ngModel
              #provincia="ngModel"
              matNativeControl
              required
              [(ngModel)]="nombreProvinciaSeleccionada"
              (selectionChange)="FiltrarLocalidades()"
            >
              <mat-option
                *ngFor="let provincia of provincias"
                [value]="provincia.nombre"
              >
                {{ provincia.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          &nbsp;

          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <mat-select
              placeholder="Seleccione localidad"
              name="localidad"
              ngModel
              #localidad="ngModel"
              matNativeControl
              required
            >
              <mat-option
                *ngFor="let localidad of localidadesFiltradas"
                [value]="localidad.nombre"
              >
                {{ localidad.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <mat-form-field [class.mat-form-field-mobile]="mobileQuery.matches">
            <input
              name="codigoPostal"
              ngModel
              #codigoPostal="ngModel"
              matInput
              placeholder="Ingrese código postal"
              type="number"
              (keypress)="checkNumeros($event)"
            />
          </mat-form-field>
          <br />
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <br />

    <div class="div-button">
      <button
        mat-raised-button
        class="buttonPrimary"
        routerLink="/altaAdultoResponsable"
        
      >
        Registrar Adulto Responsable
      </button>
      <button
        type="submit"
        (click)="snackBarGuardar(form)"
        class="buttonPrimary"
        mat-raised-button
      >
        Guardar
      </button>
      <button
        mat-raised-button
        (click)="popUpCancelar()"
        class="buttonWarn"
      >
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
