
.mat-h1{
  color: #C2185B;
}


/* .mat-card {
  margin: 1% 20% 1% 20%;

} */

.mat-card {
  margin: 1rem;
  padding-left: 20%;
  }

.mat-expansion-panel{
  width: 70%;

}

.mat-form-field{
   width: 45%;
}

button{
  margin: 0.4rem;
}

.parrafo{
  text-align: center;
}

.titulo{
  text-align: center;
  color: #C2185B;
}
