<h1 class="componente-titulo">
  Registrar calificación examen ciclo lectivo {{ fechaActual.getFullYear() }}
</h1>
<mat-card class="card-body-componente">
  <form #form="ngForm">
    <p class="aviso" *ngIf="!fechaDentroDeRangoExamen">
      Atención, no se puede registrar calificaciones de examen debido a que nos
      encontramos fuera de las fechas habilitadas para ese fin
    </p>
    <div *ngIf="fechaDentroDeRangoExamen">
      <div class="ubicacion-fecha">
        <b>Fecha:</b>
        <mat-form-field class="mat-form-fecha">
          <input
            [disabled]="true"
            ngModel
            #diaFecha="ngModel"
            matInput
            name="diaFecha"
            required
            class="input-fecha"
          />
          {{ fechaActual | date: "EEEE" | titlecase }}
          {{ fechaActual | date: "dd/MM/yyyy" }}&nbsp;
        </mat-form-field>
      </div>
      <div class="contenido">
        <mat-card
          class="datos-estudiante"
          [class.datos-estudiante-mobile]="mobileQuery.matches"
        >
          <p class="titulo-datos-est">Datos del estudiante</p>
          <mat-card-subtitle>
            <b>Apellido/s: </b> {{ apellidoEstudiante }}
            <br />
            <b>Nombre/s: </b> {{ nombreEstudiante }}
          </mat-card-subtitle>
        </mat-card>
      </div>
      <p class="aviso" *ngIf="!tieneMateriasDesaprobadas">
        El estudiante seleccionado no tiene materias desaprobadas
      </p>
      <div class="div-selects" *ngIf="tieneMateriasDesaprobadas">
        <mat-form-field
          [class.select-mobile]="mobileQuery.matches"
          class="select"
        >
          <mat-select
            placeholder="Seleccione materia"
            name="materiaRendida"
            ngModel
            #materiaRendida="ngModel"
            matNativeControl
            (selectionChange)="onMateriaChange(materiaRendida.value)"
            required
          >
            <mat-option
              *ngFor="let materiaDesaprobada of materiasDesaprobadas"
              [value]="materiaDesaprobada._id"
            >
              {{ materiaDesaprobada.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field
          [class.select-mobile]="mobileQuery.matches"
          class="select"
        >
          <mat-select
            placeholder="Seleccione condición"
            name="condicion"
            ngModel
            #condicion="ngModel"
            (selectionChange)="onCondicionChage(condicion.viewModel)"
            matNativeControl
            required
          >
            <mat-option value="aprobado">Aprobado</mat-option>
            <mat-option value="desaprobado">Desaprobado</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field *ngIf="condicion.viewModel == 'aprobado'">
          <input
            ngModel
            #notaMateria="ngModel"
            [disabled]="!idMateriaSeleccionada"
            matInput
            name="notaMateria"
            [(ngModel)]="notaExamen"
            placeholder="Ingrese nota"
            required
            (keypress)="checkNotas($event)"
          />
        </mat-form-field>
      </div>
      <br />
    </div>
    <div class="div-button">
      <button
        mat-raised-button
        class="button-primary"
        (click)="guardar(form)"
        mat-raised-button
        [disabled]="!fechaDentroDeRangoExamen || !tieneMateriasDesaprobadas"
      >
        Guardar
      </button>
      <button
        mat-raised-button
        [routerLink]="['/buscar/lista']"
        class="button-warn"
      >
        Volver
      </button>
    </div>
  </form>
</mat-card>
