<h1 class="componente-titulo" *ngIf="aniosCiclos">
  Registrar calificación examen ciclo lectivo {{ aniosCiclos[0] }}
</h1>
<mat-card class="card-body-componente">
  <form #form="ngForm">
    <div>
      <div class="ubicacion-fecha">
        <b>Fecha:</b>
        <mat-form-field class="mat-form-fecha">
          <input
            [disabled]="true"
            ngModel
            #diaFecha="ngModel"
            matInput
            name="diaFecha"
            required
            class="input-fecha"
          />
          {{ fechaActual | date: "EEEE" | titlecase }}
          {{ fechaActual | date: "dd/MM/yyyy" }}&nbsp;
        </mat-form-field>
      </div>
      <div class="contenido">
        <mat-card
          class="datos-estudiante"
          [class.datos-estudiante-mobile]="mobileQuery.matches"
        >
          <p class="titulo-datos-est">Datos del estudiante</p>
          <mat-card-subtitle>
            <b>Apellido/s: </b> {{ apellidoEstudiante }}
            <br />
            <b>Nombre/s: </b> {{ nombreEstudiante }}
          </mat-card-subtitle>
        </mat-card>
      </div>
      <p class="aviso" *ngIf="materiasDesaprobadas.length == 0">
        El estudiante seleccionado no tiene materias desaprobadas
      </p>
      <div class="div-selects" *ngIf="materiasDesaprobadas.length != 0">
        <mat-form-field
          [class.select-mobile]="mobileQuery.matches"
          class="select"
        >
          <mat-select
          id="selectMateria"
            placeholder="Seleccione materia"
            name="materiaRendida"
            ngModel
            #materiaRendida="ngModel"
            (selectionChange)="onMateriaChange(materiaRendida.value)"
            matNativeControl
            required
          >
            <mat-option
              *ngFor="let materiaDesaprobada of materiasDesaprobadas"
              [value]="materiaDesaprobada"
            >
              {{ materiaDesaprobada.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field
          [class.select-mobile]="mobileQuery.matches"
          class="select"
        >
          <mat-select
            placeholder="Seleccione condición"
            name="condicion"
            ngModel
            #condicion="ngModel"
            [(ngModel)]="condicionExamen"
            (selectionChange)="onCondicionChage(condicion.viewModel)"
            matNativeControl
            required
          >
            <mat-option value="aprobado">Aprobado</mat-option>
            <mat-option value="desaprobado">Desaprobado</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field *ngIf="condicion.viewModel == 'aprobado'">
          <input
            ngModel
            #notaMateria="ngModel"
            [disabled]="!idMateriaSeleccionada"
            matInput
            name="notaMateria"
            [(ngModel)]="notaExamen"
            placeholder="Ingrese nota"
            required
            (keypress)="checkNotas($event)"
          />
        </mat-form-field>
      </div>
      <br />
    </div>
    <div class="div-button">
      <button
        mat-raised-button
        class="button-primary"
        (click)="guardar(form)"
        mat-raised-button
        [disabled]="materiasDesaprobadas.length == 0"
      >
        Guardar
      </button>
      <button
        mat-raised-button
        [routerLink]="['/buscar/lista']"
        class="button-warn"
      >
        Volver
      </button>
    </div>
  </form>
</mat-card>
<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-div">
    <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
    <p class="loading-text">Cargando</p>
  </div>
</div>