<h1 class="componente-titulo">
  Registrar calificación examen ciclo lectivo 2019
</h1>
<mat-card class="card-body-componente">
  <form #form="ngForm">
    <p class="aviso" *ngIf="!fechaDentroDeRangoExamen">
      Atención, no se puede registrar calificaciones de examen debido a que nos
      encontramos fuera de las fechas habilitadas para ese fin
    </p>
    <div *ngIf="fechaDentroDeRangoExamen">
      <div class="ubicacionfecha">
        <b>Fecha: </b>
        &nbsp;
        <mat-form-field class="mat-form-Fecha">
          <input
            [disabled]="true"
            ngModel
            #diaFecha="ngModel"
            matInput
            name="diaFecha"
            required
            class="inputFecha"
          />
          {{ fechaActual | date: "EEEE" | titlecase }}
          {{ fechaActual | date: "dd/MM/yyyy" }}&nbsp;
        </mat-form-field>
      </div>
      <br />
      <div class="contenido" [class.contenido-mobile]="mobileQuery.matches">
        <mat-card>
          <p class="titulo-datos-est">Datos del estudiante</p>
          <mat-card-subtitle>
            <b>Apellido/s: </b> {{ apellidoEstudiante }}
            <br />
            <b>Nombre/s: </b> {{ nombreEstudiante }}
          </mat-card-subtitle>
        </mat-card>
      </div>
      <br />
      <br />
      <p class="aviso" *ngIf="!tieneMateriasDesaprobadas">
        El estudiante seleccionado no tiene materias desaprobadas
      </p>
      <div class="div-selects" *ngIf="tieneMateriasDesaprobadas">
        <mat-form-field>
          <mat-select
            placeholder="Seleccione materia"
            name="materiaRendida"
            ngModel
            #materiaRendida="ngModel"
            matNativeControl
            (selectionChange)="onMateriaChange(materiaRendida.value)"
            required
          >
            <mat-option *ngFor="let materiaDesaprobada of materiasDesaprobadas" [value]="materiaDesaprobada._id">
              {{ materiaDesaprobada.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            ngModel
            #notaMateria="ngModel"
            [disabled]="!idMateriaSeleccionada"
            matInput
            name="notaMateria"
            [(ngModel)]="notaExamen"
            placeholder="Ingrese nota"
            required
            (keypress)="checkNotas($event)"
          />
        </mat-form-field>
      </div>
      <br />
    </div>
    <div class="div-button">
      <button
        mat-raised-button
        class="buttonPrimary"
        (click)="guardar()"
        mat-raised-button
        [disabled]="!fechaDentroDeRangoExamen || !tieneMateriasDesaprobadas"
      >
        Guardar
      </button>
      <button
        mat-raised-button
        [routerLink]="['/buscar/lista']"
        class="buttonWarn"
      >
        Volver
      </button>
    </div>
  </form>
</mat-card>
