.titulo-resumen{
  text-align: center;
  font-size: large;
}

table {
  width: 95%;
  margin: 2rem;
  text-align: center;
}

.table-mobile{
  margin: 0;
}

.columnas-normales{
  width:22% !important;
}

.columnas-chicas{
  width:20%;
}

th{
  font-weight: bold;
  font-size: 15px;
  text-align: center !important;
}

.sin-sanciones{
  text-align: center;
}

.div-button{
  text-align: right;
}

.grid-resumen {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns:  repeat(2,1fr);
  grid-template-rows:  repeat(2,1fr);
  grid-gap: 8px;
  padding: 10px;
  border-radius: 4px;
}

.grid-resumen-mobile{
  width: 100%;
}

.grid-resumen > .mat-card {
  display: grid;
  align-items: stretch;
  grid-column-gap: 30px;
  border-radius: 4px;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
