
.button-perfil{
  background-color:#551111 !important;
  color: #fff !important;
  margin-left: 38% !important;
}

.button-perfil-calificaciones{
  background-color: #551111 !important;
  color: #fff !important;
  margin-left: 41% !important;
}

table {
  width: 50%;
  margin-left: 30%;
}

.tipoCantidad{
  width:22% !important;
}

th{
  font-weight: bold;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.div-button {
  text-align: right;
}

.mat-toolbar{
  background: #b4d1ce !important;
  margin-bottom: 6%;
}



