<h1 class="componente-titulo">Estado de los cursos</h1>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let curso of cursosEstados">
    <mat-expansion-panel-header >
      <mat-panel-title> <b>Curso: {{ curso.nombre }}</b> </mat-panel-title>
    </mat-expansion-panel-header>
    <table
      mat-table
      [dataSource]="curso.materiasConEstado"
      *ngIf="curso.materiasConEstado.length != 0"
    >
      <ng-container matColumnDef="materia">
        <th class="centrar" mat-header-cell *matHeaderCellDef><b>Materia</b></th>
        <td mat-cell *matCellDef="let materiaConEstado">
          {{ materiaConEstado.materia }}
        </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th class="centrar" mat-header-cell *matHeaderCellDef><b>Estado</b></th>
        <td mat-cell *matCellDef="let materiaConEstado">
          {{ materiaConEstado.estado }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
<div class="div-button">
  <button
    mat-raised-button
    [routerLink]="['/accionesDirector']"
    class="button-warn"
  >
    Volver
  </button>
</div>
<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-div">
    <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
    <p class="loading-text">Cargando</p>
  </div>
</div>