form {
  padding-top: 4%;
  padding-bottom: 4% !important;
  text-align: center;
  margin-left: 4%;
}

.mat-form-field {
  width: 50%;
  margin: auto;
  padding: 0%;
  padding-left: 2%;
  margin-top: 2%;
  text-align: left;
}

.mat-form-field-mobile{
  width: 75%;
}

.div-button {
  margin-top: 2%;
  margin-bottom: 5% !important;
  text-align: right;
  margin-right: 20% !important;
}

.div-button-mobile{
  margin-right: 8% !important;
}
