<h1 class="componente-titulo">Cambiar contraseña</h1>
<mat-card class="card-body-componente">
  <meta charset="utf-8" />

  <form #form="ngForm">

        <mat-form-field>
          <input
            name="contraseniaAnterior"
            ngModel
            #contraseniaAnterior="ngModel"
            matInput
            placeholder="Ingrese contraseña anterior"
            [type]="esVisible1 ? 'text': 'password'"
            required
          />
        </mat-form-field>
        <button mat-button class="visibilidad" (click)="onVisibilidad(1)">
          <mat-icon *ngIf="esVisible1">visibility_on</mat-icon>
          <mat-icon *ngIf="!esVisible1">visibility_off</mat-icon>
        </button>
        <br>
        <mat-form-field>
          <input
            name="contraseñaNueva"
            ngModel
            #contraseñaNueva="ngModel"
            matInput
            placeholder="Ingrese contraseña nueva"
            [type]="esVisible2 ? 'text': 'password'"
            required
          />
        </mat-form-field>
        <button mat-button class="visibilidad" (click)="onVisibilidad(2)">
          <mat-icon *ngIf="esVisible2">visibility_on</mat-icon>
          <mat-icon *ngIf="!esVisible2">visibility_off</mat-icon>
        </button>
        <br>
        <mat-form-field>
          <input
            name="contraseñaNuevaRepetida"
            ngModel
            #contraseñaNuevaRepetida="ngModel"
            matInput
            placeholder="Ingrese contraseña nuevamente"
            [type]="esVisible3 ? 'text': 'password'"
            required
          />
        </mat-form-field>
        <button mat-button class="visibilidad" (click)="onVisibilidad(3)">
          <mat-icon *ngIf="esVisible3">visibility_on</mat-icon>
          <mat-icon *ngIf="!esVisible3">visibility_off</mat-icon>
        </button>
  </form>
  <div class="div-button">
    <button
      type="submit"
      (click)="onGuardar(form)"
      color="primary"
      mat-raised-button
    >
      Guardar
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="onCancelar()"
    >
      Cancelar
    </button>
  </div>
</mat-card>
