.componente-titulo-login{
  color: black;
  text-align: center;
  opacity: 0.8;

}
body
{
  background-image: url('../../img/cristoReyTrans.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;


}

.mat-form-field{
  width:70%;
  margin-left: 15%;
  padding: 0%;
  margin-top: 10%;
  text-align: cover;
  text-align: left;

}
.div-button {
  margin-top: 6%;
  text-align: right;
  margin-right: 15%;
  opacity: 0.99;

}

.fixed-header {
  position: sticky;
  /* top: 0;
  left: 0;
  z-index: 2; */
  width: 100%  !important;
  background-color: #c12d2a;
}

mat-card {
  margin-top: 6%;
  margin-bottom: 10%;
  padding: 0;
  width: 30%;
  height: 47%;
  opacity: 0.8;
}

.componente-titulo-login{
  text-align: center;
  color: black;
}
