<mat-card>
  <mat-card-header>
    <mat-card-title class="componente-titulo">Iniciar Sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form action="">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Usuario"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Contraseña"
          type="password"
          name="password"
          required
        />
      </mat-form-field>
      <div class="button">
        <button type="submit" mat-button routerLink="/home">
          Iniciar Sesión
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
