<mat-toolbar class="fixed-header">
    <mat-toolbar-row>
        <h1 class="titulo-login">
            L I É v1.3
        </h1>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="fondo"></div>
  <div class="contenedor">
    <mat-card class="card-body-componente">
      <meta charset="utf-8" />
      <form>
        <!-- <hr width="1" size="500"> -->
        <div class="inputs">
        <mat-form-field>
          <input
            class="emailInput"
            matInput
            name="email"
            ngModel
            type="email"
            #emailInput="ngModel"
            placeholder="Ingrese e-mail"
            [(ngModel)]="email"
            required
            email
          />
          <mat-error *ngIf="emailInput.invalid"
          >Por favor ingrese un e-mail válido</mat-error
          >
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            type="password"
            matInput
            ngModel
            type="password"
            name="password"
            [(ngModel)]="password"
            #passwordInput="ngModel"
            placeholder="Ingrese contraseña"
            required
          />
          <mat-error *ngIf="passwordInput.invalid"
          >Por favor ingrese una contraseña válida</mat-error
          >
        </mat-form-field>
      </div>
        <div class="div-button">
          <button
            class="buttonPrimary"
            mat-raised-button
            class="buttonPrimary"
            routerLink="/home"
            (click)="iniciarSesion()"
          >
           Iniciar Sesión
          </button>
        </div>
      </form>
    </mat-card>
  </div>

