<mat-toolbar class="fixed-header">
    <mat-toolbar-row>
        <h1 class="titulo-login">
            Instituto Cristo Rey
        </h1>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="fondo"></div>

  <div class="contenedor">
    <mat-card class="card-body-componente">
      <meta charset="utf-8" />
      <form>
        <b>Ingrese e-mail: </b>
        <mat-form-field>
          <input
            matInput
            name="email"
            ngModel
            type="email"
            #emailInput="ngModel"
            [(ngModel)]="email"
            required
            email
          />
          <mat-error *ngIf="emailInput.invalid"
          >Por favor ingrese un e-mail válido</mat-error
          >
        </mat-form-field>
        <br />
        <b>Ingrese contraseña: </b>
        <mat-form-field>
          <input
            type="password"
            matInput
            ngModel
            type="password"
            name="password"
            [(ngModel)]="password"
            #passwordInput="ngModel"
            required
          />
          <mat-error *ngIf="passwordInput.invalid"
          >Por favor ingrese una contraseña válida</mat-error
          >
        </mat-form-field>
        <div class="div-button">
          <button
            class="button-color"
            mat-raised-button
            class="buttonLogin"
            routerLink="/home"
            (click)="iniciarSesion()"
          >
           Iniciar Sesión
          </button>
        </div>
      </form>
    </mat-card>
  </div>

