<h1 class="componente-titulo">Listado de estudiantes morosos</h1>
<mat-card class="card-body-componente" id="content" #content>
  <mat-form-field>
    <mat-select
      placeholder="Seleccione curso"
      name="curso"
      ngModel
      #curso="ngModel"
      matNativeControl
      required
      class="curso"
      (selectionChange)="obtenerCuotasAdeudadas(curso)"
    >
      <mat-option *ngFor="let curso of cursos" [value]="curso.id">
        {{ curso.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p class="aviso" *ngIf="estudiantesXCuotas.length == 0 && cursoSelected">
    Los estudiantes no tienen cuotas adeudadas.
  </p>
  <mat-accordion
    class="example-headers-align"
    *ngFor="let estudiante of estudiantesXCuotas"
  >
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{ estudiante.nombres }}</b>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>face</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br />
      <b> Meses adeudados: </b>
      <br />
      <ol *ngFor="let cuota of estudiante.mesCuotas">
        <li>{{ getMes(cuota) }}</li>
      </ol>

      <mat-divider [inset]="true"></mat-divider>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="div-button">
    <button mat-raised-button [routerLink]="['/reportes']" class="button-warn">
      Volver
    </button>
    <button mat-raised-button (click)="descargarPDF()" class="button-primary">
      Export
    </button>
  </div>
</mat-card>
