table {
  width: 95%;
  margin: 2rem;
}

.columnas-normales{
  width:22% !important;
}

th{
  font-weight: bold;
  font-size: 15px;
}

td, th{
  text-align: center !important;
}

.aviso{
  text-align: center;
}

.div-button{
  text-align: right;
}
