<mat-card>
  <form #form="ngForm" submit="onGuardar(form)">
    <mat-form-field>
      <input
        name="apellido"
        [(ngModel)]="apellidoEstudiante"
        pattern="[A-Za-z- ]+"
        minlength="2"
        maxlength="30"
        ngModel
        #apellido="ngModel"
        matInput
        placeholder="Ingrese apellido/s"
        type="text"
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        name="nombre"
        pattern="[A-Za-z- ]+"
        minlength="2"
        maxlength="30"
        ngModel
        #nombre="ngModel"
        matInput
        placeholder="Ingrese nombre/s"
        type="text"
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select
        placeholder="Seleccione tipo de documento"
        name="tipoDocumento"
        ngModel
        #tipoDocumento="ngModel"
        matNativeControl
        required
      >
        <mat-option value="dni">DNI</mat-option>
        <mat-option value="libretaEnrolamiento">Libreta de Enrolamiento</mat-option>
        <mat-option value="pasaporte">Pasaporte</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        name="nroDocumento"
        pattern="[0-9]+"
        maxlength="8"
        ngModel
        #nroDocumento="ngModel"
        matInput
        placeholder="Ingrese el número de documento"
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        name="cuil"
        pattern="[0-9]+"
        maxlength="11"
        ngModel
        #cuil="ngModel"
        matInput
        placeholder="Ingrese el número de CUIL"
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select
        placeholder="Seleccione sexo"
        name="sexo"
        ngModel
        #sexo="ngModel"
        matNativeControl
        required
      >
        <mat-option value="femenino">Femenino</mat-option>
        <mat-option value="masculino">Masculino</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <div class="domicilio">
      <mat-form-field>
        <input
          name="calle"
          pattern="[A-Za-z- ]+"
          minlength="2"
          maxlength="30"
          ngModel
          #calle="ngModel"
          matInput
          placeholder="Ingrese calle"
          type="text"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          name="nroCalle"
          maxlength="5"
          ngModel
          #nroCalle="ngModel"
          matInput
          placeholder="Ingrese número"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          name="piso"
          ngModel
          #piso="ngModel"
          matInput
          placeholder="Ingrese piso"
          type="text"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          name="departamento"
          ngModel
          #departamento="ngModel"
          matInput
          placeholder="Ingrese departamento"
          type="text"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-select
          placeholder="Seleccione provincia"
          name="provincia"
          ngModel
          #provincia="ngModel"
          matNativeControl
          required
        >
          <mat-option value="prov1">Prov1</mat-option>
          <mat-option value="prov2">Prov2</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input type="text" placeholder="Provincia" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option  *ngFor="let provincia of provincias" [value]="provincia.nombre">
            {{provincia.nombre}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-select
          placeholder="Seleccione localidad"
          name="localidad"
          ngModel
          #localidad="ngModel"
          matNativeControl
          required
        >
          <mat-option value="localidad1">Localidad1</mat-option>
          <mat-option value="localidad2">Localidad2</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          name="codigoPostal"
          ngModel
          #codigoPostal="ngModel"
          matInput
          placeholder="Ingrese código postal"
          type="text"
          required
        />
      </mat-form-field>
      <br />
    </div>
    <div class="nacionalidad">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Seleccione fecha de nacimiento" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" disabled="false"></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-select
          placeholder="Seleccione nacionalidad"
          name="nacionalidad"
          ngModel
          #nacionalidad="ngModel"
          matNativeControl
          required
        >
          <mat-option value="nacionalidad1">Nacionalidad1</mat-option>
          <mat-option value="nacionalidad2">Nacionalidad2</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-select
          placeholder="Seleccione provincia de nacimiento"
          name="provinciaNac"
          ngModel
          #provinciaNac="ngModel"
          matNativeControl
          required
        >
          <mat-option value="provNac1">Prov1</mat-option>
          <mat-option value="provNac2">Prov2</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-select
          placeholder="Seleccione localidad de nacimiento"
          name="localidadNac"
          ngModel
          #localidadNac="ngModel"
          matNativeControl
          required
        >
          <mat-option value="localidadNac1">Localidad1</mat-option>
          <mat-option value="localidadNac2">Localidad2</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
    </div>
    <mat-form-field>
      <mat-select
        placeholder="Seleccione estado civil"
        name="estadoCivil"
        ngModel
        #estadoCivil="ngModel"
        matNativeControl
        required
      >
        <mat-option value="soltero">Soltero/a</mat-option>
        <mat-option value="casado">Casado/a</mat-option>
        <mat-option value="viudo">Viudo/a</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        name="telefono"
        pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
        ngModel
        #telefono="ngModel"
        placeholder="Ingrese número de teléfono"
        type="tel"
      />
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Editar</button>
    <button mat-raised-button color="warn">Borrar</button>
  </form>
</mat-card>
