<div *ngIf="tipoPopup === 'volver'" >
  <h3 mat-dialog-title class="tituloPopup">Volver</h3>
  <div mat-dialog-content>
    <p class="parrafo">¿Está seguro que desea volver a la pantalla anterior?</p>
  </div>
  <div mat-dialog-actions class="buttonPopup">
    <button mat-raised-button class="button-primary" (click)="onYesClick()" cdkFocusInitial >
      Sí
    </button>
    <button mat-raised-button class="button-warn" (click)="onNoClick()" >No</button>
  </div>
</div>
<div *ngIf="tipoPopup === 'borrar'" class="borrar">
  <h3 mat-dialog-title class="tituloPopup">Borrar</h3>
  <div mat-dialog-content>
    <p class="parrafo">{{ borrar }}</p>
  </div>
  <div
    *ngIf="borrar != 'El estudiante fue borrado exitosamente'"
    mat-dialog-actions class="buttonPopup">
    <button mat-raised-button class="button-warn" (click)="onYesDeleteClick()" cdkFocusInitial >
      Sí
    </button>
    <button mat-raised-button class="button-primary" (click)="onNoClick()">No</button>
  </div>
  <div
    *ngIf="borrar === 'El estudiante fue borrado exitosamente'"
    mat-dialog-actions>
    <div mat-dialog-actions class="buttonPopup">
      <button mat-raised-button class="button-primary" (click)="onOkClickBorrar()" >Ok</button>
    </div>
  </div>
</div>
