<div *ngIf="tipoPopup === 'volver'" >
  <h3 mat-dialog-title class="titulo-popup">Volver</h3>
  <div mat-dialog-content>
    <p class="parrafo">¿Está seguro que desea volver a la pantalla anterior?</p>
  </div>
  <div mat-dialog-actions class="button-popup">
    <button mat-raised-button class="button-primary" (click)="onYesClick()" cdkFocusInitial >
      Sí
    </button>
    <button mat-raised-button class="button-warn" (click)="onNoClick()" >No</button>
  </div>
</div>
<div *ngIf="tipoPopup === 'borrar'" class="borrar">
  <h3 mat-dialog-title class="titulo-popup">Borrar</h3>
  <div mat-dialog-content>
    <p class="parrafo">¿Está seguro que desea borrar el estudiante?</p>
  </div>
  <div
    mat-dialog-actions class="button-popup">
    <button mat-raised-button class="button-warn" (click)="onYesDeleteClick()" cdkFocusInitial >
      Sí
    </button>
    <button mat-raised-button class="button-primary" (click)="onNoClick()">No</button>
  </div>
</div>
