<div >
  <h3 mat-dialog-title class="tituloPopup">Acciones</h3>
  <div mat-dialog-content class="buttonPopup">
    <button mat-raised-button class="button" color="primary" (click)="onInscribir()">Inscribir estudiante a un curso</button>
    <br>
    <button mat-raised-button class="button" color="primary" (click)="onMostrar()">Visualizar estudiante</button>
    <br>
    <button mat-raised-button class="button" color="primary" (click)="onRetiro()">Registrar retiro anticipado</button>
  </div>
</div>
