.mat-card {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  max-width: 800px;
}

table {
  width: 95%;
  margin: 0 auto;
}

.columnasNormales{
  width:22%;
}

.columnasChicas{
  width:12%;
}

.btnVisualizar{
  margin: 2%;
}

th, td{
  text-align: center !important;
}

th{
  font-weight: bold;
  font-size: 15px;
}

