<mat-card *ngIf="estudiantes.length > 0">
  <div *ngFor="let estudiante of estudiantes; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b class="datosEstudiantes">
            {{ estudiante.apellido }}, {{ estudiante.nombre }} -
            {{ estudiante.tipoDocumento }}: {{ estudiante.numeroDocumento }}
          </b>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <p class="tituloAcciones"> <u >Acciones</u> </p>
      <div class="botonesAcciones">
        <button
          mat-raised-button
          class="button"
          color="primary"
          (click)="onInscribir(i)"
        >
          Inscribir estudiante a un curso
        </button>
        <br />
        <button
          mat-raised-button
          class="button"
          color="primary"
          (click)="onMostrar(i)"
        >
          Visualizar estudiante
        </button>
        <br />
        <button
          mat-raised-button
          class="button"
          color="primary"
          (click)="onRetiro(i)"
        >
          Registrar retiro anticipado
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</mat-card>

<mat-card *ngIf="estudiantes.length <= 0">
  <p>No se encontraron estudiantes</p>
</mat-card>
