<mat-card *ngIf="isLoading">
  <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
</mat-card>

<mat-card *ngIf="estudiantes.length > 0 && !isLoading">
  <div *ngFor="let estudiante of estudiantes; let i = index">
    <mat-expansion-panel [expanded]="'i == 0'">
      <mat-expansion-panel-header
        [class.mat-expansion-panel-header-mobile]="mobileQuery.matches"
      >
        <mat-panel-title>
          <b
            class="titulo-expansion-panel"
            [class.titulo-expansion-panel-mobile]="mobileQuery.matches"
          >
            {{ estudiante.apellido }}, {{ estudiante.nombre }}</b
          >
          <b class="titulo-expansion-panel" *ngIf="!mobileQuery.matches"
            >&nbsp; -&nbsp;</b
          >
          <b
            class="titulo-expansion-panel"
            [class.titulo-expansion-panel-mobile]="mobileQuery.matches"
          >
            {{ estudiante.tipoDocumento }}: {{ estudiante.numeroDocumento }}</b
          >
          <b class="titulo-expansion-panel" *ngIf="!mobileQuery.matches"
            >&nbsp; -&nbsp;</b
          >
          <b
            class="titulo-expansion-panel"
            [class.titulo-expansion-panel-mobile]="mobileQuery.matches"
            *ngIf="inscripto[i]"
            >Curso: {{ cursos[i] }}
          </b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        class="grid-container"
        [class.grid-container-mobile]="mobileQuery.matches"
      >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onInscribir(i)"
          *ngIf="
            permisos.inscribirEstudiante > 1 &&
            (enEstadoCLCreado || enEstadoCLCursando)
          "
          ><b>Inscribir estudiante a un curso</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onJustificar(i)"
          *ngIf="
            permisos.asistencia > 1 &&
            inscripto[i] &&
            suspendido[i] &&
            enEstadoCLCursando
          "
          ><b>Justificar inasistencia</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onRegistrarExamenes(i)"
          *ngIf="permisos.notas > 1 && inscripto[i] && enEstadoCLExamenes"
          ><b>Registrar calificaciones de examen</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onLlegadaTarde(i)"
          *ngIf="
            permisos.asistencia > 1 &&
            inscripto[i] &&
            suspendido[i] &&
            enEstadoCLCursando
          "
          ><b>Registrar llegada tarde</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onRetiro(i)"
          *ngIf="
            permisos.asistencia > 1 &&
            inscripto[i] &&
            suspendido[i] &&
            enEstadoCLCursando
          "
          ><b>Registrar retiro anticipado</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onSancion(i)"
          *ngIf="
            permisos.asistencia > 1 &&
            inscripto[i] &&
            suspendido[i] &&
            (enEstadoCLCursando || enEstadoCLExamenes)
          "
          ><b>Registrar sanción</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onMostrar(i)"
          *ngIf="permisos.inscribirEstudiante >= 1"
          ><b>Visualizar estudiante</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onVisualizarPerfil(i)"
          *ngIf="permisos.inscribirEstudiante >= 1 && inscripto[i]"
          ><b>Visualizar perfil de estudiante</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onReincorporar(i)"
          *ngIf="
            permisos.inscribirEstudiante >= 1 &&
            suspendido[i] &&
            (enEstadoCLCursando || enEstadoCLExamenes)
          "
          ><b>Reincorporar estudiante</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onNotificarReunion(i)"
          ><b>Enviar notificación de reunión</b></mat-card
        >
        <mat-card
          class="opcion"
          [class.opcion-mobile]="mobileQuery.matches"
          (click)="onAsociarAR(i)"
          *ngIf="permisos.inscribirEstudiante > 1"
          ><b>Asociar adulto responsable</b></mat-card
        >
      </div>
    </mat-expansion-panel>
  </div>
</mat-card>

<mat-card *ngIf="estudiantes.length == 0 && !isLoading">
  <p>
    <b>No se encontraron estudiantes que coincidan con los datos ingresados</b>
  </p>
</mat-card>
