<mat-card *ngIf="isLoading">
  <mat-spinner class="spinner"></mat-spinner>
</mat-card>

<mat-card *ngIf="estudiantes.length > 0 && !isLoading">
  <div *ngFor="let estudiante of estudiantes; let i = index">
    <mat-expansion-panel [expanded]="'i == 0'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>
            {{ estudiante.apellido }}, {{ estudiante.nombre }} -
            {{ estudiante.tipoDocumento }}: {{ estudiante.numeroDocumento }}
          </b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3 class="tituloAcciones">Acciones</h3>
      <div class="botonesAcciones">
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onInscribir(i)"
          *ngIf="permisos.inscribirEstudiante > 1"
        >
          Inscribir estudiante a un curso
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onJustificar(i)"
          *ngIf="permisos.asistencia > 1"
        >
          Justificar inasistencia
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onRegistrarAR(i)"
          *ngIf="permisos.inscribirEstudiante > 1"
        >
          Registrar adulto responsable
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onRegistrarExamenes(i)"
          *ngIf="permisos.notas > 1"
        >
          Registrar examen
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onLlegadaTarde(i)"
          *ngIf="permisos.asistencia > 1"
        >
          Registrar llegada tarde
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onRetiro(i)"
          *ngIf="permisos.asistencia > 1"
        >
          Registrar retiro anticipado
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onSancion(i)"
          *ngIf="permisos.inscribirEstudiante >= 1"
        >
          Registrar sanción
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onMostrar(i)"
          *ngIf="permisos.inscribirEstudiante >= 1"
        >
          Visualizar estudiante
        </button>
        <button
          mat-raised-button
          class="button"
          class="buttonPrimary"
          (click)="onVisualizarPerfil(i)"
          *ngIf="permisos.inscribirEstudiante >= 1"
        >
          Visualizar perfil de estudiante
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</mat-card>

<mat-card *ngIf="estudiantes.length <= 0 && !isLoading">
  <p>No se encontraron estudiantes</p>
</mat-card>
