.columnas-tabla {
  width: 18%;
}

table {
  width: 95%;
  margin: 1.5rem;
  margin-top: 0rem;
}

.table-mobile{
  width: 100%;
  margin: 0;
}

th,
td {
  text-align: center !important;
}

th {
  font-weight: bold;
  font-size: 15px;
}

.div-button {
  text-align: right;
}

.div-selects {
  margin-left: 3%;
}

.parrafo {
  text-align: center;
}

.aviso {
  margin-bottom: 0;
  text-align: center;
  font-size: 19px;
}

.th.mat-header-cell:first-of-type,  th.mat-header-cell:first-of-type,
.td.mat-cell:first-of-type,  td.mat-cell:first-of-type{
  padding-left: 0;
}


.th.mat-header-cell:last-of-type,  th.mat-header-cell:last-of-type,
.td.mat-cell:last-of-type,  td.mat-cell:last-of-type{
  padding-right: 0;
}
