<div class="grid-layout" [class.grid-layout-mobile]="mobileQuery.matches">
  <mat-card
    *ngFor="let estudiante of estudiantes"
    style="cursor: pointer;"
    (click)="onEstudianteClick(estudiante.idEstudiante)"
  >
    <div *ngIf="mostrarTooltip && cursos[0]" class="tooltip-lie">
      Hacé click para ver más detalles!
    </div>
    <mat-icon class="icon-estudiante">face</mat-icon>
    <p class="nombre-estudiante">
      {{ estudiante.nombre }} {{ estudiante.apellido }}
    </p>
    <div class="curso" *ngIf="cursos[0]">
      <mat-chip-list>
        <mat-chip>{{ estudiante.curso }}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>
  <mat-form-field class="select-anios" *ngIf="aniosEventos.length!=0">
    <mat-select
      placeholder="Año ciclo lectivo"
      name="anioSelec"
      [(ngModel)]="anioSeleccionado"
      #anioSelec="ngModel"
      matNativeControl
      (selectionChange)="onAnioSelectedChange(anioSelec.value)"
    >
      <mat-option *ngFor="let anio of aniosEventos" [value]="anio">{{
        anio
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card
    *ngFor="let evento of eventosFiltrados"
    style="cursor: pointer;"
    (click)="onEventoClick(evento._id)"
  >
    <div class="fecha-evento">
      <time datetime="evento.fechaEvento" class="icon">
        <strong>{{ obtenerMes(evento.fechaEvento) }}</strong>
        <span>{{ obtenerDia(evento.fechaEvento) }}</span>
      </time>
    </div>
    <p class="hora">{{ evento.horaInicio }} - {{ evento.horaFin }}</p>
    <p class="titulo-evento">{{ evento.titulo }}</p>
    <mat-chip-list class="curso" *ngFor="let curso of evento.tags">
      <mat-chip>{{ curso }}</mat-chip>
    </mat-chip-list>
  </mat-card>
  <mat-card class="card-body-componente" *ngIf="eventosFiltrados.length == 0">
    <h1 class="titulo-aviso">
      No existen eventos publicados para el año seleccionado
    </h1>
  </mat-card>
</div>


<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-div">
    <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
    <p class="loading-text">Cargando</p>
  </div>
</div>