<h1 class="componente-titulo">
  Resumen académico {{fechaActual.getFullYear()}} de: {{ apellidoEstudiante }}, {{ nombreEstudiante }}
</h1>
<mat-card class="card-body-componente">
  <mat-toolbar class="fixed-header">
    <mat-toolbar-row>
      <button id="calificaciones" mat-button routerLinkActive="mat-accent" (click)="onClickCalificaciones()" routerLink="./calificacionesEstudiante" >Calificaciones</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="./inasistenciasEstudiante">Inasistencias</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="./cuotasEstudiante">Historial de cuotas</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="./agendaCursoEstudiante">Agenda de curso</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="./sancionesEstudiante">Sanciones aplicadas</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="./tutoresEstudiante">Tutores</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="./datosEstudiante" >Datos del estudiante</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>

 <div class="div-button">
  <button
  mat-raised-button
  [routerLink]="['/buscar/lista']"
  class="buttonWarn" >
     Volver
  </button>

</div>
</mat-card>
