<h1 class="componente-titulo" *ngIf="aniosCiclos">
  Resumen académico {{ aniosCiclos[0] }} de: {{ apellidoEstudiante }},
  {{ nombreEstudiante }}
</h1>
<h3 class="mensaje-suspendido" *ngIf="suspendido">
  El estudiante se encuentra suspendido.
</h3>

<div class="grid-container" [class.grid-container-mobile]="mobileQuery.matches">
  <mat-card class="opcion" (click)="onClickCalificaciones()"
    ><mat-icon [inline]="true">assignment_turned_in</mat-icon><br /><b
      >Calificaciones</b
    ></mat-card
  >
  <mat-card class="opcion" (click)="onClickInasistencias()"
    ><mat-icon [inline]="true">import_contacts</mat-icon><br /><b
      >Inasistencias</b
    ></mat-card
  >
  <mat-card class="opcion" (click)="onClickCuotas()"
    ><mat-icon [inline]="true">attach_money</mat-icon><br /><b
      >Historial de cuotas</b
    ></mat-card
  >
  <!-- considerar local_atm -->
  <mat-card class="opcion" (click)="onClickHorarios()"
    ><mat-icon [inline]="true">schedule</mat-icon><br /><b
      >Horarios</b
    ></mat-card
  >
  <mat-card class="opcion" (click)="onClickSanciones()"
    ><mat-icon [inline]="true">announcement</mat-icon><br /><b
      >Sanciones</b
    ></mat-card
  >
  <mat-card class="opcion" (click)="onClickTutores()"
    ><mat-icon [inline]="true">wc</mat-icon><br /><b>Tutores</b></mat-card
  >
  <mat-card class="opcion" (click)="onClickDatosEstudiante()"
    ><mat-icon [inline]="true">face</mat-icon><br /><b
      >Datos del estudiante</b
    ></mat-card
  >
  <mat-card
    class="opcion"
    *ngIf="esAdultoResponsable()"
    (click)="onClickSolicitudReunion()"
    ><mat-icon [inline]="true">message</mat-icon><br /><b
      >Solicitud de reunión</b
    ></mat-card
  >
</div>
<div class="div-button" [class.div-button-mobile]="mobileQuery.matches">
  <button
    mat-raised-button
    [routerLink]="['/buscar/lista']"
    class="button-warn"
  >
    Volver
  </button>
</div>
<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-div">
    <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
    <p class="loading-text">Cargando</p>
  </div>
</div>