<h1 class="mat-h1" color="accent" style="text-align:center">Registrar documentación para inscripción</h1>

<mat-card>
  <br>
<div align="center">
<mat-form-field >
  <mat-select

  placeholder="Seleccione año"
  name="anio"
  ngModel
  #anio="ngModel"
  matNativeControl
  [(ngModel)]="anioSeleccionado"
  required
  (selectionChange)="FiltrarDivisiones()"
>
  <mat-option
  *ngFor="let anio of anios "
  [value]="anio"
  >
  {{ anio }}
</mat-option>
</mat-select>
</mat-form-field>

&nbsp; &nbsp;
<mat-form-field>
<mat-select
  placeholder="Seleccione division"
  name="division"
  ngModel
  #division="ngModel"
  matNativeControl
  required
  [disabled]= "!seleccionDeAnio"
  (selectionChange)="onCursoSeleccionado(division)"
  >
  <mat-option *ngFor="let division of divisionesFiltradas" [value]="division"  >
    {{ division }}
  </mat-option>
</mat-select>
</mat-form-field>
</div>

<div *ngIf="estudiantesConDocumentos.length !=0">
  <table mat-table [dataSource]="estudiantesConDocumentos" class="mat-elevation-z8" >

  <ng-container matColumnDef="apellido">
    <th  class="columnasTabla"  mat-header-cell style="text-align: center" *matHeaderCellDef> <b style="font-size:15px"> Apellido/s </b> </th>
    <td  class="columnasTabla" mat-cell *matCellDef="let estudiante" style="text-align: center">
      {{ estudiante.datosEstudiante[0].apellido }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th  class="columnasTabla"  mat-header-cell *matHeaderCellDef style="text-align: center"> <b style="font-size:15px"> Nombre/s </b> </th>
    <td  class="columnasTabla"  mat-cell *matCellDef="let estudiante" style="text-align: center">
      {{ estudiante.datosEstudiante[0].nombre }}
    </td>
  </ng-container>

  <ng-container matColumnDef="fotocopiaDoc">
    <th  class="columnasTabla" mat-header-cell *matHeaderCellDef style="text-align: center"><b style="font-size:15px"> Fotocopia del documento</b></th>
    <td  class="columnasTabla" mat-cell *matCellDef="let estudiante" style="text-align: center">
      <mat-checkbox [checked]="estudiante.documentosEntregados[0].entregado" (change)="registrarCambioDocumento(estudiante,0)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="fichaMed">
    <th  class="columnasTabla" mat-header-cell *matHeaderCellDef style="text-align: center"><b style="font-size:15px"> Ficha médica</b></th>
    <td  class="columnasTabla" mat-cell *matCellDef="let estudiante" style="text-align: center">
      <mat-checkbox [checked]="estudiante.documentosEntregados[1].entregado" (change)="registrarCambioDocumento(estudiante,1)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="informeAnt">
    <th  class="columnasTabla" mat-header-cell *matHeaderCellDef style="text-align: center"><b style="font-size:15px"> Informe año anterior</b></th>
    <td  class="columnasTabla" mat-cell *matCellDef="let estudiante" style="text-align: center">
      <mat-checkbox [checked]="estudiante.documentosEntregados[2].entregado" (change)="registrarCambioDocumento(estudiante,2)"></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>

<div align="center">
  <button
  color="primary"
  class="button"
  (click)="onGuardar(division, anio)"

  mat-raised-button
  [disabled]= "!divisionSeleccionada"

  >
  Guardar
</button>
<button mat-raised-button class="button" (click)="onCancelar()" color="warn"  >
  Cancelar
</button>
</div>
</mat-card>
