::ng-deep
  .mat-button-wrapper
  > mat-icon.notranslate.material-icons.mat-icon-no-color.ng-star-inserted {
  background: white !important;
  border-radius: 50% !important;
  color: black !important;
}

mat-icon {
  display: flex;
  margin-left: auto;
}

mat-expansion-panel {
  margin-bottom: 20px !important;
  margin-top: 10px;
}

.div-button {
  text-align: right;
  margin-bottom: 2%;
}

li {
  margin-left: 10px;
  list-style-type: circle;
}

.aviso {
  text-align: center;
  margin-top: 1% !important;
  margin-bottom: 0% !important;
  font-size: x-large;
}
