<h1 class="componente-titulo">
  Registrar eventos
</h1>

<mat-card>
  <form>
  <mat-form-field>
    <input
      name="titulo"
      ngModel
      #titulo="ngModel"
      matInput
      placeholder="Ingrese titulo"
      type="text"
      required
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <textarea
      matInput
      name="contenido"
      ngModel
      #titulo="ngModel"
      rows="3"
      placeholder="Ingrese contenido"
      type="text"
      required
    >
    </textarea>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [min]="fechaActual"
      [matDatepicker]="picker"
      placeholder="Sel. fecha de evento"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <br />
  <mat-select
    placeholder="Seleccione hora inicio evento"
    name="horaInicio"
    ngModel
    #horaInicio="ngModel"
    matNativeControl
  >
    <!-- Esto deberia recorrer un vector con todas las horas -->
    <mat-option value="01">01</mat-option>
    <mat-option value="02">02</mat-option>
    <mat-option value="03">03</mat-option>
    <mat-option value="04">04</mat-option>
    <mat-option value="05">05</mat-option>
    <mat-option value="06">06</mat-option>
    <mat-option value="07">07</mat-option>
    <mat-option value="08">08</mat-option>
    <mat-option value="09">09</mat-option>
    <mat-option value="10">10</mat-option>
    <mat-option value="11">11</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="13">13</mat-option>
    <mat-option value="14">14</mat-option>
    <mat-option value="15">15</mat-option>
    <mat-option value="16">16</mat-option>
    <mat-option value="17">17</mat-option>
    <mat-option value="18">18</mat-option>
    <mat-option value="19">19</mat-option>
    <mat-option value="20">20</mat-option>
    <mat-option value="21">21</mat-option>
    <mat-option value="22">22</mat-option>
    <mat-option value="23">23</mat-option>
    <mat-option value="24">24</mat-option>
  </mat-select>
  <br />
  <mat-select
    placeholder="Seleccione hora fin evento"
    name="horaInicio"
    ngModel
    #horaFin="ngModel"
    matNativeControl
  >
    <mat-option value="01">01</mat-option>
    <mat-option value="02">02</mat-option>
    <mat-option value="03">03</mat-option>
    <mat-option value="04">04</mat-option>
    <mat-option value="05">05</mat-option>
    <mat-option value="06">06</mat-option>
    <mat-option value="07">07</mat-option>
    <mat-option value="08">08</mat-option>
    <mat-option value="09">09</mat-option>
    <mat-option value="10">10</mat-option>
    <mat-option value="11">11</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="13">13</mat-option>
    <mat-option value="14">14</mat-option>
    <mat-option value="15">15</mat-option>
    <mat-option value="16">16</mat-option>
    <mat-option value="17">17</mat-option>
    <mat-option value="18">18</mat-option>
    <mat-option value="19">19</mat-option>
    <mat-option value="20">20</mat-option>
    <mat-option value="21">21</mat-option>
    <mat-option value="22">22</mat-option>
    <mat-option value="23">23</mat-option>
    <mat-option value="24">24</mat-option>
  </mat-select>
  <br />
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList aria-label="Seleccion de chips">
      <mat-chip
        *ngFor="let chip of chips"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(chip)"
      >
        {{ chip }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Seleccione los cursos"
        #fruitInput
        [formControl]="chipsCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let chip of filteredChips | async" [value]="chip">
        {{ chip }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">
      Seleccionar imagen
    </button>
    <input type="file" #filePicker (change)="onImagePicked(form, $event)" />
  </div>
  <button class="buttonPrimary" mat-raised-button>
    Guardar
  </button>
</form>
</mat-card>
