<h1 class="componente-titulo">
  Registrar eventos
</h1>

<mat-card class="card-body-componente">
  <form #form="ngForm">
    <div class="camposFormulario">
      <mat-form-field>
        <input
          name="titulo"
          ngModel
          #titulo="ngModel"
          matInput
          placeholder="Ingrese título"
          type="text"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          name="descripcion"
          ngModel
          #descripcion="ngModel"
          rows="3"
          placeholder="Ingrese descripción"
          type="text"
        >
        </textarea>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          name="fechaEvento"
          ngModel
          #fechaEvento="ngModel"
          [min]="fechaActual"
          [matDatepicker]="picker"
          placeholder="Seleccione fecha de evento"
          (click)="picker.open()"
          required
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              matInput
              name="horaInicio"
              ngModel
              #horaInicio="ngModel"
              placeholder="Hora inicio *"
              id="pickerInicio"
              readonly
            />
          </div>
        </mat-form-field>
        &nbsp;
        <mat-form-field class="matFormHora">
          <div class="hora">
            <input
              matInput
              name="horaFin"
              ngModel
              #horaFin="ngModel"
              placeholder="Hora fin *"
              id="pickerFin"
              readonly
            />
          </div>
        </mat-form-field>
      </div>

      <mat-form-field class="chip-list">
        <mat-chip-list #chipList aria-label="Seleccion de chips">
          <mat-chip
            *ngFor="let chip of chips"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(chip)"
          >
            {{ chip }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Seleccione los cursos *"
            #chipsInput
            [formControl]="chipsCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
            required
          />
        </mat-chip-list>
        <mat-autocomplete
          required
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option *ngFor="let chip of filteredChips | async" [value]="chip">
            {{ chip }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="contenedor-flexbox">
        <button
          mat-stroked-button
          class="boton-seleccionar"
          type="button"
          (click)="file.click()"
        >
          Seleccionar imagen
        </button>
      </div>
    </div>
    <br />
    <div *ngIf="imgURL.length != 0">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img [src]="obtenerImagen()" style="width:100%" />
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
      </div>
    </div>
    <br />
    <span class="mensaje" *ngIf="message">{{ message }}</span>
    <br />
    <input
      #file
      type="file"
      accept="image/*"
      (imageSelected)="selectedImage($event)"
      imageUpload
      [resizeOptions]="resizeOptions"
      multiple
    />

    <div class="div-button">
      <button
        class="buttonPrimary"
        (click)="onGuardarEvento(form)"
        mat-raised-button
      >
        Guardar
      </button>
      <button mat-raised-button (click)="popUpCancelar()" class="buttonWarn">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
