.chip-list {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

mat-form-field,
textarea {
  width: 100%;
}

.image-preview {
  height: 20rem;
  margin: 1rem 0;
}

.mensaje{
  color: red;
}
