<h1 class="componente-titulo">
  Modificar agenda de curso
</h1>

<mat-card class="card-body-componente">
  <form #form="ngForm">
    <mat-form-field>
      <mat-select
        placeholder="Seleccione curso"
        name="curso"
        ngModel
        #curso="ngModel"
        matNativeControl
        required
        class="curso"
        (selectionChange)="obtenerAgenda(curso)"
      >
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{ curso.curso }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <table #tabla mat-table [dataSource]="dataSource" *ngIf="cursoSelected">
      <ng-container matColumnDef="Materia">
        <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
          Materia
        </th>
        <td
          class="columnasNormales"
          mat-cell
          *matCellDef="let agendaCurso; let i = index"
        >
          <mat-form-field class="matFormMateria">
            <mat-select
              name="materia{{i}}"
              id="materia{{i}}"
              ngModel
              #materia+i="ngModel"
              [disabled]="indice!=i"
              [(ngModel)]="agendaCurso.nombre"
              matNativeControl
            >
              <mat-option
                *ngFor="let materia of materias"
                [value]="materia.nombre"
              >
                {{ materia.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Docente">
        <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
          Docente
        </th>
        <td
          class="columnasNormales"
          mat-cell
          *matCellDef="let agendaCurso; let i = index"
        >
          <mat-form-field class="matFormDocente">
            <mat-select
              name="docente{{ i }}"
              ngModel
              #docente+i="ngModel"
              [disabled]="indice!=i"
              [(ngModel)]="agendaCurso.docente"
              matNativeControl
            >
              <mat-option *ngFor="let docente of docentes" [value]="docente">
                {{ docente }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Dia">
        <th class="columnasNormales" mat-header-cell *matHeaderCellDef>Día</th>
        <td
          class="columnasNormales"
          mat-cell
          *matCellDef="let agendaCurso; let i = index"
        >
          <mat-form-field class="matFormDia">
            <mat-select
              name="dia{{ i }}"
              ngModel
              #dia+i="ngModel"
              [disabled]="indice!=i"
              [(ngModel)]="agendaCurso.dia"
              matNativeControl
            >
              <mat-option *ngFor="let dia of dias" [value]="dia">
                {{ dia }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="HoraInicio">
        <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
          Inicio
        </th>
        <td
          class="columnasNormales"
          mat-cell
          *matCellDef="let agendaCurso; let i = index"
        >
          <mat-form-field class="matFormHora">
            <div class="hora">
              <input
                [name]="'horaInicio' + i"
                ngModel
                #horaInicio+i="ngModel"
                matInput
                [ngxTimepicker]="picker1"
                [format]="24"
                [disabled]="indice!=i"
                [(ngModel)]="agendaCurso.inicio"
                min="07:30"
                max="13:30"
                readonly
              />
              <ngx-material-timepicker
                [minutesGap]="15"
                #picker1
              ></ngx-material-timepicker>
            </div>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="HoraFin">
        <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
          Fin
        </th>
        <td
          class="columnasNormales"
          mat-cell
          *matCellDef="let agendaCurso; let i = index"
        >
          <mat-form-field class="matFormHora">
            <div class="hora">
              <input
                [name]="'horaFin' + i"
                ngModel
                #horaInicio+i="ngModel"
                matInput
                [ngxTimepicker]="picker1"
                [format]="24"
                [disabled]="indice!=i"
                [(ngModel)]="agendaCurso.fin"
                min="07:30"
                max="13:30"
                readonly
              />
              <ngx-material-timepicker
                [minutesGap]="15"
                #picker1
              ></ngx-material-timepicker>
            </div>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="Accion">
        <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
          Acción
        </th>
        <td
          class="columnasNormales"
          mat-cell
          *matCellDef="let row; let i = index"
        >
          <p class="botonesAccion">
            <button
              id="editar{{ i }}"
              mat-icon-button
              (click)="editarAgenda(i, tabla)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              id="reservar{{ i }}"
              style="display: none"
              mat-icon-button
              (click)="reservarAgenda(i)"
            >
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarHorarios(i)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </p>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table></form
></mat-card>
