<h1 class="componente-titulo">Buscar adulto responsable</h1>

<mat-card class="card-body-componente">
  <form #form="ngForm">
    <mat-radio-group class="opciones-busqueda" aria-label="Select an option">
      <mat-radio-button
        [checked]="buscarAdulto"
        (change)="this.buscarAdulto = !this.buscarAdulto"
        value="true"
        ><span class="label-radio-button"
          >Buscar adultos responsables</span
        ></mat-radio-button
      >
      <mat-radio-button
        [checked]="!buscarAdulto"
        (change)="this.buscarAdulto = !this.buscarAdulto"
        value="false"
        ><span class="label-radio-button">
          Buscar empleados</span
        ></mat-radio-button
      >
    </mat-radio-group>
    <mat-radio-group class="opciones-busqueda" aria-label="Select an option">
      <mat-radio-button
        [checked]="buscarPorNomYAp"
        (change)="deshabilitarInputs(form)"
        value="1"
        ><span class="label-radio-button"
          >Buscar por nombre y apellido</span
        ></mat-radio-button
      >
      <mat-radio-button
        [checked]="!buscarPorNomYAp"
        (change)="deshabilitarInputs(form)"
        value="2"
        ><span class="label-radio-button">
          Buscar por documento</span
        ></mat-radio-button
      >
    </mat-radio-group>
    <br />
    <mat-form-field>
      <input
        [disabled]="!buscarPorNomYAp"
        ngModel
        #apellido="ngModel"
        [(ngModel)]="apellidoAR"
        matInput
        name="apellido"
        placeholder="Ingrese apellido"
        type="text"
        maxlength="20"
        required
        (keypress)="checkLetras($event)"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        [disabled]="!buscarPorNomYAp"
        ngModel
        #nombre="ngModel"
        [(ngModel)]="nombreAR"
        matInput
        name="nombre"
        placeholder="Ingrese nombre"
        maxlength="20"
        type="text"
        required
        (keypress)="checkLetras($event)"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select
        [disabled]="buscarPorNomYAp"
        placeholder="Seleccione tipo de documento"
        name="tipoDocumento"
        ngModel
        #tipoDocumento="ngModel"
        matNativeControl
        required
        [(ngModel)]="tipoDocAR"
      >
        <mat-option value="DNI">DNI</mat-option>
        <mat-option value="Cedula de Identidad">Cédula de Identidad</mat-option>
        <mat-option value="Libreta de Enrolamiento"
          >Libreta de Enrolamiento</mat-option
        >
        <mat-option value="Libreta Civica">Libreta Cívica</mat-option>
        <mat-option value="Pasaporte">Pasaporte</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        [disabled]="buscarPorNomYAp"
        matInput
        name="numeroDocumento"
        [(ngModel)]="nroDocAR"
        ngModel
        #numeroDocumento="ngModel"
        maxlength="8"
        placeholder="Ingrese número de documento"
        type="text"
        (keypress)="checkNumeros($event)"
        required
      />
    </mat-form-field>
    <br />
    <div class="div-button">
      <button class="button-primary" (click)="onBuscar(form)" mat-raised-button>
        Buscar
      </button>
      <button mat-raised-button (click)="onVolver() "class="button-warn">
        Volver
      </button>
    </div>
  </form>
  <mat-spinner *ngIf="isLoading" class="spinner" [diameter]="60"></mat-spinner>
  <b class="aviso" *ngIf="personasFiltradas.length == 0 && busqueda && !isLoading">
    No se encontró un {{this.buscarAdulto ? "adulto responsable" : "empleado"}} que coincida con los datos ingresados.
  </b>
  <div class="contenido" *ngIf="personasFiltradas.length != 0 && !isLoading">
    <div>
      <table
        mat-table
        [dataSource]="personasFiltradas"
        *ngIf="personasFiltradas.length != 0 && !isLoading"
      >
        <ng-container matColumnDef="apellido">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Apellido
          </th>
          <td class="columnas-normales" mat-cell *matCellDef="let tutor">
            {{ tutor.apellido }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Nombre
          </th>
          <td class="columnas-normales" mat-cell *matCellDef="let tutor">
            {{ tutor.nombre }}
          </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Teléfono
          </th>
          <td class="columnas-normales" mat-cell *matCellDef="let tutor">
            {{ tutor.telefono }}
          </td>
        </ng-container>
        <ng-container matColumnDef="tipoDocumento">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Tipo
          </th>
          <td class="columnas-normales" mat-cell *matCellDef="let tutor">
            {{ tutor.tipoDocumento }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nroDocumento">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Número
          </th>
          <td class="columnas-normales" mat-cell *matCellDef="let tutor">
            {{ tutor.numeroDocumento }}
          </td>
        </ng-container>
        <ng-container matColumnDef="editar">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Editar
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let row; let i = index"
          >
            <button
              mat-icon-button
              matTooltip="Editar"
              (click)="onEditarAdultoResponsable(i)"
              matTooltip="Editar"
              [routerLink]="['/modificarAdultoResponsable']"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="onDelete(i)"
              matTooltip="Borrar"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <br />
  </div>
</mat-card>
