<table mat-table [dataSource]="cuotasV">
  <ng-container matColumnDef="Mes">
    <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
      Mes
    </th>
    <td class="columnasNormales" mat-cell *matCellDef="let i = index">
      {{ cuotasV[i][0] }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Pagado">
    <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
      Pagado
    </th>
    <td class="columnasNormales" mat-cell *matCellDef="let i = index">
      {{ cuotasV[i][1] }}
      <ng-template #noTieneNotas>
        <p>-</p>
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
