table {
  text-align: center;
  width: 95%;
  margin: 2rem;
}

.table-mobile {
  margin: auto;
}

.columnas-normales {
  width: 22% !important;
}

th {
  text-align: center !important;
  font-weight: bold;
  font-size: 15px;
}

.div-button {
  text-align: right;
}

.mesAdeudado {
  background-color: #fc7978;
}
