<h1 class="componente-titulo">Historial de cuotas de {{ apellidoEstudiante }}, {{ nombreEstudiante }}</h1>
<mat-card class="card-body-componente">
  <table
    mat-table
    [dataSource]="estadoCuotasXMes"
    [class.table-mobile]="mobileQuery.matches"
  >
    <ng-container matColumnDef="Mes">
      <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
        Mes
      </th>
      <td class="columnas-normales" mat-cell *matCellDef="let i = index">
        {{ getMes(estadoCuotasXMes[i][0]) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Pagado">
      <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
        Pagado
      </th>
      <td class="columnas-normales" mat-cell *matCellDef="let i = index">
        <mat-checkbox
          [checked]="estadoCuotasXMes[i][1]"
          [disabled]="true"
        ></mat-checkbox>
        <ng-template #noTieneNotas>
          <p>-</p>
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{ mesAdeudado: this.validarMesAnterior(estadoCuotasXMes[i][0]) && !estadoCuotasXMes[i][1]}" *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
  </table>
  <div class="div-button">
    <button
      mat-raised-button
      [routerLink]="['/perfilEstudiante']"
      class="button-warn"
    >
      Volver
    </button>
  </div>
</mat-card>
<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-div">
    <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
    <p class="loading-text">Cargando</p>
  </div>
</div>