<h1 class="componente-titulo">
  Registrar pago de cuotas ciclo lectivo {{ fechaActual.getFullYear() }}
</h1>
<mat-card class="card-body-componente">
  <div class="div-mes-curso-fecha">
    <div>
      <mat-form-field class="mes">
        <mat-select
          placeholder="Seleccione mes"
          name="mes"
          ngModel
          #mes="ngModel"
          [(ngModel)]="mesSeleccionado"
          [disabled]="fueraPeriodoCicloLectivo"
          matNativeControl
          required
          (selectionChange)="onMesSeleccionado(mes)"
        >
          <mat-option *ngFor="let objMes of meses" [value]="objMes">
            {{ objMes }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="curso">
        <mat-select
          placeholder="Seleccione curso"
          name="curso"
          ngModel
          #curso="ngModel"
          [(ngModel)]="cursoEstudiante"
          [disabled]="fueraPeriodoCicloLectivo || !mesSeleccionado"
          matNativeControl
          required
          (selectionChange)="onCursoSeleccionado(curso, mes)"
        >
          <mat-option *ngFor="let objCurso of cursos" [value]="objCurso.id">
            {{ objCurso.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="ubicacion-fecha">
      <b>Fecha: </b> &nbsp;
      <mat-form-field class="mat-form-Fecha">
        <input
          [disabled]="true"
          ngModel
          #diaFecha="ngModel"
          matInput
          name="diaFecha"
          required
          class="input-fecha"
        />
        {{ fechaActual | date: "EEEE" | titlecase }}
        {{ fechaActual | date: "dd/MM/yyyy" }}&nbsp;
      </mat-form-field>
    </div>
  </div>
  <p class="aviso" *ngIf="fueraPeriodoCicloLectivo">
    Atención, no se puede registrar las cuotas debido a que estamos fuera del
    ciclo lectivo
  </p>
  <br />

  <mat-spinner *ngIf="isLoading" class="spinner" [diameter]="60"></mat-spinner>

  <div *ngIf="!cursoNotSelected && !isLoading">
    <table
      mat-table
      [dataSource]="cuotasXEstudiante"
      *ngIf="cuotasXEstudiante.length != 0"
    >
      <ng-container matColumnDef="apellido">
        <th class="nombre-apellido" mat-header-cell *matHeaderCellDef>
          Apellido/s
        </th>
        <td class="nombre-apellido" mat-cell *matCellDef="let cuotaXEstudiante">
          {{ cuotaXEstudiante.apellido }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th class="nombre-apellido" mat-header-cell *matHeaderCellDef>
          Nombre/s
        </th>
        <td class="nombre-apellido" mat-cell *matCellDef="let cuotaXEstudiante">
          {{ cuotaXEstudiante.nombre }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th class="cuotas" mat-header-cell *matHeaderCellDef>Estado cuotas</th>
        <td class="cuotas" mat-cell *matCellDef="let row">
          <mat-slide-toggle
            [checked]="row.pagado"
            (change)="onCambioEstadoCuota(row)"
          >
            <p *ngIf="row.pagado">Pagado</p>
            <p *ngIf="!row.pagado">No pagado</p></mat-slide-toggle
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <p class="aviso" *ngIf="cuotasXEstudiante.length == 0 && !cursoNotSelected">
      No exiten alumnos inscriptos a este curso
    </p>
  </div>
  <br />
  <div class="div-button">
    <button
      class="button-primary"
      (click)="onGuardar()"
      mat-raised-button
      [disabled]="cursoNotSelected"
    >
      Guardar
    </button>
    <button mat-raised-button class="button-warn" (click)="onCancelar()">
      Cancelar
    </button>
  </div>
</mat-card>
