.div-button {
  text-align: center;
  margin-top: 2%;
}

.botones-preferencias {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.acciones {
  width: 35%;
}

.button-primary:first-of-type {
  margin-bottom: 3% !important;
}

.toggles {
  text-align: left;
  margin: auto;
  display: grid;
}

h3 {
  text-align: center !important;
  margin-top: 0px;
}

.mat-slide-toggle {
  margin-top: 0.5rem !important;
}

.card-body-componente {
  max-width: 45%;
}
