.div-button {
  margin-top: 6%;
  text-align: right;
}

.botones-preferencias {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.acciones{
  width: 35%;
}

.button-primary{
  margin-bottom: 3% !important;
}
