<h1 class="componente-titulo">Preferencias</h1>
<mat-card class="card-body-componente">
  <meta charset="utf-8" />
  <div class="botones-preferencias">
    <button
      mat-button
      class="button-primary acciones"
      (click)="cambiarPassword()"
    >
      Cambiar contraseña
    </button>
    <button
      mat-button
      class="button-primary acciones"
      (click)="pruebaNotificacion()"
    >
      Notificación de prueba
    </button>
    <br />
    <div class="toggles">
      <h3>Recibir notificaciones por:</h3>
      <mat-slide-toggle
        [checked]="preferencias[0].acepta"
        (change)="onChangePreferencias(0)"
      >
        Retiros anticipados
      </mat-slide-toggle>
      <mat-slide-toggle
        [checked]="preferencias[1].acepta"
        (change)="onChangePreferencias(1)"
      >
        Creación de evento
      </mat-slide-toggle>
      <mat-slide-toggle
        [checked]="preferencias[2].acepta"
        (change)="onChangePreferencias(2)"
      >
        Cancelaciones de eventos
      </mat-slide-toggle>
      <mat-slide-toggle
        [checked]="preferencias[3].acepta"
        (change)="onChangePreferencias(3)"
      >
        Inasistencias
      </mat-slide-toggle>
      <mat-slide-toggle
        [checked]="preferencias[4].acepta"
        (change)="onChangePreferencias(4)"
      >
        Alerta de cantidad de inasistencias
      </mat-slide-toggle>
    </div>
  </div>
  <div class="div-button">
    <button
      type="submit"
      (click)="onGuardar()"
      class="button-primary"
      mat-raised-button
    >
      Guardar
    </button>
  </div>
</mat-card>
