<mat-card class="card-body-componente" >
<mat-form-field>
  <mat-select
    placeholder="Seleccione curso"
    name="curso"
    ngModel
    #curso="ngModel"
    (selectionChange)="obtenerAgenda(curso)"
    matNativeControl
    required
  >
    <mat-option *ngFor="let curso of cursos" [value]="curso.id">
      {{ curso.curso }}
    </mat-option>
  </mat-select>
</mat-form-field>
</mat-card>

<div class="grid-container">
  <div class="cabecera">
    <p class="cabecera">
      Hora
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Lunes
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Martes
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Miércoles
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Jueves
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Viernes
    </p>
  </div>
  <div class="hora modulo1">
    <p class="modulo">07:30 - 08:15</p>
  </div>
  <div class="hora modulo2"><p class="modulo">08:15 - 09:00</p></div>

  <!-- <div class="hora recreo1">
    <p class="recreo1">
      Recreo de 10 minutos
    </p>
  </div> -->
  <div class="hora modulo3"><p class="modulo">09:00 - 09:45</p></div>
  <div class="hora modulo4"><p class="modulo">09:45 - 10:30</p></div>
  <!-- <div class="hora recreo2">
    <p class="recreo1">
      Recreo de 20 minutos
    </p>
  </div> -->
  <div class="hora modulo5"><p class="modulo">10:30 - 11:15</p></div>
  <div class="hora modulo6"><p class="modulo">11:15 - 12:00</p></div>
  <!-- <div class="hora recreo3">
    <p class="recreo1">
      Recreo de 20 minutos
    </p>
  </div> -->
  <div class="hora modulo7"><p class="modulo">12:00 - 12:45</p></div>
  <div class="hora modulo8"><p class="modulo">13:30 - 14:15</p></div>
  <!-- <div class="hora recreo4">
    <p class="recreo1">
      Recreo de 20 minutos
    </p>
  </div> -->
  <div class="hora modulo9"><p class="modulo">14:05 - 14:50</p></div>
  <!-- <div class="hora modulo10"><p class="modulo">14:50 - 15:35</p></div> -->

  <div class="materia" *ngFor="let materia of materias; let i = index" [id]="i">
    <div
      class="materia"
      [ngStyle]="{ 'background-color': getColores(materia.nombre) }"
    >
      {{ materia.nombre }}
    </div>
  </div>
</div>
<!-- getColor(materia) -->

