<h1 class="componente-titulo">Registrar retiro anticipado</h1>
<mat-card class="card-body-componente">
  <div class="ubicacionfecha">
    <b>Fecha: </b>
    &nbsp;
    <mat-form-field>
      <input
        [disabled]="true"
        ngModel
        #diaFecha="ngModel"
        matInput
        name="diaFecha"
        [(ngModel)]="diaActual"
        required
        class="inputFecha"
      />
      {{ fechaActual | date: "EEEE" | titlecase }}
      {{ fechaActual | date: "dd/MM/yyyy" }}
    </mat-form-field>
  </div>

  <br />
  <h3 class="tituloTutores">
    Tutores del estudiante: {{ apellidoEstudiante }}, {{ nombreEstudiante }}
  </h3>
  <table mat-table [dataSource]="tutores" *ngIf="tutores">
    <ng-container matColumnDef="apellido">
      <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
        Apellido/s
      </th>
      <td class="columnasNormales" mat-cell *matCellDef="let tutor">
        {{ tutor.apellido }}
      </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
        Nombre/s
      </th>
      <td class="columnasNormales" mat-cell *matCellDef="let tutor">
        {{ tutor.nombre }}
      </td>
    </ng-container>
    <ng-container matColumnDef="telefono">
      <th class="columnasNormales" mat-header-cell *matHeaderCellDef>
        Telefono
      </th>
      <td class="columnasNormales" mat-cell *matCellDef="let tutor">
        {{ tutor.telefono }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <br />

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button
      (change)="CambiarTipoRetiro()"
      [checked]="antes10am"
      value="1"
      ><span class="label-radio-button"
        >Antes de las 10:00 de la mañana</span
      ></mat-radio-button
    >
    <mat-radio-button
      (change)="CambiarTipoRetiro()"
      [checked]="!antes10am"
      value="2"
      ><span class="label-radio-button"
        >Después de las 10:00 de la mañana</span
      ></mat-radio-button
    >
  </mat-radio-group>

  <br />

  <div class="div-button">
    <button
      class="buttonPrimary"
      (click)="openPopup('confirmar')"
      mat-raised-button
    >
      Guardar
    </button>

    <button
      mat-raised-button
      (click)="openPopup('cancelar')"
      class="buttonWarn"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      [routerLink]="['/buscar/lista']"
      class="buttonPrimary"
    >
      Volver
    </button>
  </div>
</mat-card>
