.mat-radio-button ~ .mat-radio-button {
  margin-left: 6%;
}

.mat-radio-group {
  margin-left: 10%;
  margin-right: 10%;
}

.ubicacionfecha {
  margin-top: 0.5rem;
  float: right;
}

.inputFecha {
  width: 0%;
  color: black !important;
}

.div-button {
  text-align: right;
}

.contenido {
  width: 41%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.card-datos{
  margin: auto;
  margin-top: 3rem !important;
  width: 100%;
}

.contenido-mobile {
  width: 100%;
}

.card-datos-mobile {
  width: 90%;
}

.label-radio-button {
  white-space: normal !important;
}

.tituloTutores {
  margin-top: 3% !important;
  margin: auto;
}

table {
  width: 50%;
  margin: auto;
}

.columnasNormales {
  width: 22% !important;
  text-align: center;
}

th {
  font-weight: bold;
  font-size: 15px;
}

td,
th {
  text-align: center;
}
