<h1 class="componente-titulo">Registrar retiro anticipado</h1>
<mat-card class="card-body-componente">
  <p class="fecha">Fecha: {{ fechaActual | date: "dd/MM/yyyy" }}</p>
  <br />

  <div class="contenido">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos del estudiante seleccionado
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p><b>Apellido/s: </b> {{ apellidoEstudiante }}</p>
        <p><b>Nombre/s: </b> {{ nombreEstudiante }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <br />

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button
      (change)="CambiarTipoRetiro()"
      [checked]="antes10am"
      value="1"
      >Antes de las 10:00 de la mañana</mat-radio-button
    >
    <mat-radio-button
      (change)="CambiarTipoRetiro()"
      [checked]="!antes10am"
      value="2"
      >Después de las 10:00 de la mañana</mat-radio-button
    >
  </mat-radio-group>

  <br />
  <br />

  <div class="div-button">
    <button color="primary" (click)="openPopup('confirmar')" mat-raised-button>
      Guardar
    </button>

    <button mat-raised-button (click)="openPopup('cancelar')" color="warn">
      Cancelar
    </button>
  </div>
</mat-card>
