<div *ngIf="tipoPopup === 'cancelar'">
  <h3 mat-dialog-title>Cancelar</h3>
  <div mat-dialog-content>
    <p>¿Está seguro que desea cancelar?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onYesCancelarClick()" cdkFocusInitial>Sí, volver al menú principal </button>
    <button mat-button (click)="onNoCancelarConfirmarClick()">No, volver</button>
  </div>
</div>

<div *ngIf="tipoPopup==='confirmar'">
        <h3 mat-dialog-title>Confirmar</h3>
        <div mat-dialog-content>
          <p>¿Está seguro que desea registrar el retiro anticipado del estudiante?</p>
        </div>
        <div mat-dialog-actions>
          <button mat-button (click)="onYesConfirmarClick()" cdkFocusInitial>Sí, registrar</button>
          <button mat-button (click)="onNoCancelarConfirmarClick()">No, volver</button>
        </div>
  </div>

<div *ngIf="tipoPopup === 'retirar'">
    <h3 mat-dialog-title>Retiro Anticipado</h3>
    <div mat-dialog-content *ngIf="exito">
        <p>Se registró correctamente el retiro anticipado</p>
      </div>
      <div mat-dialog-content *ngIf="!exito">
          <p>Ya se ha registrado un retiro para el estudiante seleccionado</p>
        </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onOkConfirmarClick()">OK</button>
    </div>
  </div>
