.mat-card {
  margin: 3rem;
  padding-left: 20%;
  }

.mat-h1{
  color: #C2185B;
  padding-left: 13%;
}

.mat-expansion-panel
{
  width: 60%;
}

.mat-radio-button{
  margin: 1rem;
}

.mat-form-field {
  width: 35%;
}

button{
  margin: 0.4rem;

}



.fecha {
  width: 50%;
  padding-left: 45%;
}
