.grid-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto 18% 18% 18% 18% 18%; /*Aca se definen la cantidad de columnas*/
  grid-template-rows: 60px 50px 50px 25px 50px 50px 25px 50px 50px 25px 50px 50px 25px 50px 50px; /*Aca se definen la cantidad de filas*/
  grid-gap: 8px;
  background-color: #95adbe;/*2196F3*/
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  display: flex;
  align-items: stretch;
}

.hora {
  font-size: 15px !important;
  line-height: 25px;
  text-align: center;
}

/* En cada uno de estos, se define desde que linea arranca y en cual termina */
/* Para mas info: https://www.w3schools.com/css/css_grid.asp */
.modulo1 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.modulo2 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.recreo1 {
  grid-row: 4/5;
  grid-column: 1/7;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
}
.modulo3 {
  grid-row-start: 5;
  grid-row-end: 6;
}

.modulo4 {
  grid-row-start: 6;
  grid-row-end: 7;
}
.recreo2 {
  grid-row: 7/8;
  grid-column: 1/7;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
}
.modulo5 {
  grid-row-start: 8;
  grid-row-end: 9;
}

.modulo6 {
  grid-row-start: 9;
  grid-row-end: 10;
}

.recreo3 {
  grid-row: 10/11;
  grid-column: 1/7;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
}
.modulo7 {
  grid-row-start: 11;
  grid-row-end: 12;
}
.modulo8 {
  grid-row-start: 12;
  grid-row-end: 13;
}
.recreo4 {
  grid-row: 13/14;
  grid-column: 1/7;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
}
.modulo9 {
  grid-row-start: 14;
  grid-row-end: 15;
}
.modulo10 {
  grid-row-start: 15;
  grid-row-end: 16;
}
.cabecera {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.materia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  font-size: 20px;
}
