<div class="grid-container">
  <div class="cabecera">
    <p class="cabecera">
      Hora
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Lunes
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Martes
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Miércoles
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Jueves
    </p>
  </div>
  <div class="cabecera">
    <p class="cabecera">
      Viernes
    </p>
  </div>
  <div class="hora modulo1">07:00 - 07:45</div>
  <div class="hora modulo2">07:45 - 08:30</div>
  <div class="hora recreo1">
    <p class="recreo1">
      Recreo de 10 minutos
    </p>
  </div>
  <div class="hora modulo3">08:40 - 09:25</div>
  <div class="hora modulo4">09:25 - 10:10</div>
  <div class="hora recreo2">
    <p class="recreo1">
      Recreo de 20 minutos
    </p>
  </div>
  <div class="hora modulo5">10:30 - 11:15</div>
  <div class="hora modulo6">10:15 - 12:00</div>
  <div class="hora recreo3">
    <p class="recreo1">
      Recreo de 20 minutos
    </p>
  </div>
  <div class="hora modulo7">12:20 - 13:05</div>
  <div class="hora modulo8">13:05 - 13:55</div>
  <div class="hora recreo4">
    <p class="recreo1">
      Recreo de 20 minutos
    </p>
  </div>
  <div class="hora modulo9">14:05 - 14:50</div>
  <div class="hora modulo10">14:50 - 15:35</div>

  <div class="materia" *ngFor="let materia of materias; let i = index" [id]="i">
    <div class="materia" [ngStyle]="{ 'background-color': getColor(materia) }">
      {{ materia.nombre }}
    </div>
  </div>
</div>
<!-- getColor(materia) -->
