<h1 class="componente-titulo">Gestión de materias</h1>
<mat-card class="card-body-componente">
  <form #form="ngForm">
    <div class="contenedor-tabla" *ngIf="materias.length != 0">
      <table
        #tabla
        mat-table
        matSort
        [dataSource]="materias"
        [hidden]="materias.data.length == 0"
      >
        <ng-container matColumnDef="Materia">
          <th
            class="columnas-normales"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Materia
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let materia; let i = index"
          >
            <p>{{ materia.nombre }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Accion">
          <th class="columnas-normales" mat-header-cell *matHeaderCellDef>
            Acción
          </th>
          <td
            class="columnas-normales"
            mat-cell
            *matCellDef="let materia; let i = index"
          >
            <p class="botones-accion">
              <button
                mat-icon-button
                (click)="onBorrar(materia.nombre, i)"
                matTooltip="Borrar"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </p>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </form>
  <p class="aviso" *ngIf="materias.data.length == 0">
    <b>No hay materias registradas</b>
  </p>
  <br />
  <div class="div-agregar">
    <button
      mat-raised-button
      class="button-agregar"
      (click)="onAgregarMateria()"
    >
      <mat-icon>add_circle_outline</mat-icon>
      Agregar materia
    </button>
    <br />
  </div>
  <br />
  <div class="div-guardar">
    <button
      mat-raised-button
      class="button-primary"
      (click)="onGuardar()"
      [disabled]="materias.data.length == 0 || !huboCambios"
    >
      Guardar
    </button>
    <button mat-raised-button [routerLink]="['/home']" class="button-warn">
      Volver
    </button>
  </div>
</mat-card>
<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-div">
    <mat-spinner class="spinner" [diameter]="60"></mat-spinner>
    <p class="loading-text">Cargando</p>
  </div>
</div>